//- Created by garvey on 2017/11/8.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 立刻出行
    include ../../../template/head/seo_meta
body
    include ./template/header
    .banner
        .slogan_2
            p
                |立刻
                span |
                |让出行更简单
    .introduce
        .we
            .title 我们是谁
            p 立刻出行，是共享经济浪潮下顺势而生的汽车共享出行服务平台。通过将移动互联网与汽车分时租赁深度结合，打破传统汽车出行模式，服务于城市内短途出行需求。
        .devote
            .img_con
                img(src=require('./images/about_img_1.jpg'))
            .desc
                .title 我们在做什么
                p 立刻出行APP将移动互联网与汽车分时租赁深度结合。
                p 让用户仅通过APP即可实现随时用车全流程的智能化操作，只需承担里程及时长费用即可。
                p “立刻出行”改变了传统私家车出行、汽车租赁形式。
