//- Created by garvey on 2017/11/8.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 立刻出行
    include ../../../template/head/seo_meta
body
    include ./template/header
    .detail_con.animated.fast
    .banner.animated.fast
        .slogan_2
            p
                |立刻
                span |
                |一起干点更酷的事
    .introduce.animated.fast
        .devote
            .desc
                .title 我们在做什么
                p 立刻出行APP将移动互联网与汽车分时租赁深度结合。
                p 让用户仅通过APP即可实现随时用车全流程的智能化操作，只需承担里程及时长费用即可。
                p “立刻出行”改变了传统私家车出行、汽车租赁形式。
            .img_con
                img(src=require('./images/about_img_1.jpg'))
        .jobList_m
            .title 加入我们
        .jobList.swiper-container
            .swiper-wrapper
            .swiper-pagination.swiper-no-swiping
