.StatusDesc{
  font-size: 24px;
  vertical-align: middle;
}
.Tag{
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.Operate{
  .operate_btn{
    margin:0 8px;
    width: 8em;
    line-height: 28px;
    border-radius: 5px;
  }
}