@import "./common/common";
.edit{
  padding: 0.3rem 0;
  color:#111;
  .editBox{
    padding-top: 0.2rem;
  }
  .tip{
    color:#e84656;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  .input_con{
    margin-bottom: 0.1rem;
    p{
      line-height: 0.24rem;
    }
    input,select{
      width: 18em;
      line-height: 0.38rem;
      color:#111;
      font-size: 1em;
      height: 0.38rem;
      background-color: #fff;
      border:solid 1px #d6d6d6;
      margin:0.03rem 0;
      padding: 1px 0.16rem 0;
      border-radius: 0.19rem;
      box-sizing: border-box;
    }
  }
  .btn_con{
    text-align: center;
    padding: 0.2rem;
  }

}