@import "./common/common";
.history{
  padding: 0.38rem 0;
  .moneyBox{
    margin:0.1rem 0;
    text-align: center;
  }
  .emptyHistory{
    text-align: center;
    p{
      margin-top: 0.15rem;
    }
  }
  .key{
    margin:0.15rem 0;
    height: 0.7rem;
    background: url('../images/key.png') no-repeat center;
    background-size: auto 100%;
  }
}