.RealName{
  padding: 0.15rem 0;
  .realName{
    padding: 0.05rem 0.2rem;
    color:#333;
  }
  .idCard{
    height: 0.94rem;
    margin-top: 0.15rem;
  }
  .orange{
    position: relative;
    line-height: 0.2rem;
    height: 0.2rem;
    padding:0.1rem 0 0.1rem 0.2rem;
    &::before{
      content: '';
      top:0.1rem;
      left:0;
      position: absolute;
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      background: url('../../images/icon_orange.png') no-repeat center;
      background-size: 60%;
    }
  }
  .address{
    margin:0.15rem 0 0 0;
    padding: 0.1rem 0;
  }
  .adds{
    line-height: 0.24rem;
    span{
      color:#999;
    }
  }
  .btn_short{
    width: 1.4rem;
    height: 0.46rem;
    line-height: 0.46rem;
    margin:0.1rem auto;
  }
}