.WillFinish{
  padding:0.15rem 0;
  .willFinish{
    padding: 0 0.2rem;
    input{
      width: 2.8rem;
      line-height: 0.38rem;
      border-radius: 0;
      border:solid 1px #dfd3da;
      padding: 0 0.8em;
      box-sizing: border-box;
      margin-top: 0.1rem;
      background-color: #fffaeb;
    }
    .branch{
      overflow: hidden;
      .branchName{
        margin-top: 0.1rem;
        line-height: 0.22rem;
      }
      .change_end_point{
        line-height: 0.14rem;
        margin-top: 0.04rem;
        float:right;
        padding-left:1em;
        border-left:solid 1px #F7D4D1;
      }
    }
  }
}