@import '../../css/common/color';
.details{
  padding: 0.15rem;
  line-height: 0.2rem;
  .detail_title{
    position: relative;
    font-weight: bold;
    background-color: #fdd74e;
    width: 8em;
    margin-left: -0.23rem;
    text-indent: 0.2rem;
    border-radius: 2px;
    font-size: 0.12rem;
    &:after{
      content: '';
      position: absolute;
      top:0;
      right:0;
      border-right:solid 0.1rem #fffdf5;
      border-top:solid 0.1rem transparent;
      border-bottom:solid 0.1rem transparent;
    }
  }
  p{
    padding: 0.08rem 0;
  }

  .red{
    color: @mainred
  }
  .gray{
    color:#999
  }
}