//- Created by garvey on 2017/11/10.
.contact_ways
    .title 联系我们
    .ways
        .way.email
            .title 商务合作
            p
                a(href="mailto:"+cooperation_mail) #{cooperation_mail}
        .way.phone
            .title 电话
            p
                a(href="tel:4006662333") 400-666-2333
