.question-item{
  padding-left: 0.24rem;
  padding-bottom: 0.15rem;
  .title{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    font-weight: 500;
    color:#111;
    position: relative;
    .index{
      position: absolute;
      width: 0.24rem;
      text-align: right;
      margin-left: -0.24rem;
    }
    .require{
      color:#e90000
    }
  }
}
