.TimePicker{
  position: relative;
  .timePicker{
    width:100%;
    text-align: center;
    height: 30px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
  }
  .icon{
    position: absolute;
    top:0;
    right:0;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: no-repeat center;
    background-size: 70%;
    &.date_icon{
      background-image: url('../../../images/calendar.png');
    }
  }
}