@import '../../../css/reset.css';

.bg{
  position: relative;
  background: url('./images/bg.png') repeat-y center;
  background-size: 100%;
}

img{
  display: block;
}

.header, .footer{
  position: absolute;
  width: 100%;
}

.footer{
  bottom:0
}

.bg {
  #download{
    position: absolute;
    width: 2.27rem;
    height: 0.48rem;
    top:2.19rem;
    left:50%;
    margin-left: -1.135rem;
  }
}