//- Created by garvey on 2018/1/11.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/wx120
    title 立刻出行
body
    .bg
        img.header(src=require('./images/download_header.png'))
        img.footer(src=require('./images/download_footer.png'))
        #download
