@import '../../../css/reset.css';

.bg{
  position: relative;
  background: url('./images/bg.png') repeat-y center;
  background-size: 100%;
}

img{
  display: block;
}

.header, .footer{
  position: absolute;
  width: 100%;
}

.footer{
  bottom:0
}