.rules{
  padding: 0.15rem;
  img.prizes{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0.1rem;
  }
  li{
    line-height: 0.24rem;
    span{
      display: inline-block;
    }
    .level{
      font-weight: bold;
    }
    .prize_name{
      width:5.5em;
      padding: 0 0.5em;
    }
    .range{
      float: right;
      width: 7em;
    }
  }
}