@blue: #15BDF4;
@orange: #ff6c3e;
@green: #4BD6A3;
@red: #FF4233;

.ydblue {
  color: @blue !important;
}

.ydorange {
  color: @orange !important;
}

.ydgreen {
  color: @green !important;
}

.ydred {
  color: @red !important;
}
