*{margin:0;padding:0}

.point_car_cnt{
  text-align: center;
  display: block;
  border-radius: 50%;
  font-size: 12px;
  background: #494B51;
  border: 1px solid #FFFFFF;
  width: 18px;
  line-height: 18px;
  color:#fff;
  &.same{
    background-color: #003ffa;
  }
}

.branch_name{
  background-color:#f9efc5;
  padding: 2px 3px;
  font-size: 12px;
}
