@import '../../css/common/color';
.activity_prizes{
  .list_con{
    position: relative;
    font-size:0.14rem;

    .ind{
      font-weight: bold;
      padding-right: 1em;
      line-height: 0.23rem;
    }
    .prizes{
      position: absolute;
      height: 56%;
      top:22%;
      right:0;
    }
  }
  .des{
    position: relative;
    padding-top: 0.15rem;
    text-align: center;
    font-size:0.11rem;
    line-height: 0.2rem;
    color:#999;
    .icon{
      position: absolute;
      width:0.2rem;
      height: 0.2rem;
      margin-left: -0.2rem;
      margin-top: -0.02rem;
      background: url('../../images/list1_4.png') no-repeat 0 -0.6rem;
      background-size: 100% 400%;
    }
  }
}