.ContentBox{
  padding: 0.1rem 0;
  border-bottom: solid 1px #F1E7C6;
  position: relative;
  .editBox_title{
    color:#999
  }
  &.no_border{
    border-bottom:none
  }
  &.no_paddingTop{
    padding-top: 0;
  }
  &.no_padding{
    padding: 0;
  }
}