//- Created by garvey on 2018/1/14.
-require('./moneyBox.less')
.moneyBox
    .money
        span.num.fs42 #{money}
        //if(is_win)
            span.icon_win
                .qa
    .desc.fs12 可提取金额
    .btn_con
        a.main_color_btn.fs16#cash 立刻提现

