.moneyBox{
  text-align: center;
  .money{
    color:#242248;
    span{
      line-height: 0.5rem;
      vertical-align: top;
    }
    .icon_win{
      position: relative;
      display: inline-block;
      height: 0.5rem;
      width: 0.5rem;
      margin-right: -0.5rem;
      background: url('../images/icon_win.png') no-repeat center;
      background-size:80%;
      .qa{
        position: absolute;
        width: 0.2rem;
        height: 0.2rem;
        background: url('../images/icon_qa.png') no-repeat center;
        background-size: 80%;
        right:-0.2rem;
        top:0;
      }
    }
  }
  .desc{
    color:#666;
  }
  .btn_con{
    margin:0.1rem 0;
  }
}