@import '../../../../../css/font';
@import '../../../../../css/reset.css';

body{
  background-color: #f7f7f7;
}

.header{
  background-color: #fff;
  padding: 0.15rem;
  border-bottom: solid 1px #dfdfdf;
  .btn{
    width: 100%;
    height: 0.43rem;
    border:solid 1px #dfdfdf;
    border-radius: 3px;
    color:#111;
    font-size: 0.12rem;
    background-color: #fff;
  }
}

.tips{
  display: none;
  width: 100%;
  background: #fdfdbf;
  color:#111;
  text-align: center;
  line-height: 26px;
  font-size: 0.12rem;
}

.empty{
  display: none;
  position: fixed;
  top:25%;
  left:0;
  width:100%;
  text-align: center;
  .img{
    margin:0 auto;
    width:60%;
    height: 1rem;
    background: url('../images/empty_coupon.png') no-repeat center;
    background-size: contain;
  }
  p{
    padding-top: 0.1rem;
    color:#999;
    font-size: 0.12rem;
  }
}