html,body{
  background-color: #fff;
}
body{
  padding-bottom: 0.4rem;
  max-width: 640px;
  margin:0 auto;
}

.section{
  padding: 0.18rem 0.2rem 0.1rem;


  .title{
    font-size: 16px;
    font-weight: bold;
    margin:0.06rem 0 0.1rem;
  }

    .detail{
    margin:0.04rem 0 0.04rem 2.3em;
    line-height: 0.2rem;
    font-size: 14px;
    color:#333;
    .index{
      display: inline-block;
      text-align: left;
      width: 2.3em;
      margin-left:-2.3em;
    }

    .min{
      font-size: 12px;
    }
    .green{
      color:#5fb500;
    }
    .orange{
      color:#ff9600;
    }
    .red{
      color:#ed3800;
    }
  }

  .img-con{
    width: 100%;
    min-height: 1.82rem;
    background: #f2f2f2;
    img{
      width: 100%;
    }
  }
}