.AlarmWindowList{
  width: 700px;
  .header{
    font-size: 12px;
    color:#fff;
    background-color: #333;
    padding: 4px 8px;
  }
  .btn{
    height: 22px;
    font-size: 12px;
    width: 7em;
    margin-left: 1em;
  }
  .link{
    color: #0a8cff;
    text-decoration: underline;
  }
}

.AlarmOperate>.btn{
  width: 5em;
  &>.iconfont{
    color:#fff;
    font-size: 12px;
  }
}