.FenceReport {
  padding-top: 30px;
  .btn-button {
    margin-left: 30px;
    width: 100px;
    line-height: 28px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: #169bd5;
    outline: none;
    cursor: pointer;
  }
  .top{
    .picker.inline{
      width: 150px;
      display: inline-block;
      .timePicker{
        text-indent: 0;
      }
      .date_icon{
        display: none;
      }
    }
    label{
      margin-right:10px;
      vertical-align: top;
      line-height: 28px;
    }
    input{
      text-indent: 8px;
    }
    input,select{
      vertical-align: top;
      width: 150px;
      height: 28px;
      outline: none;
      border: 1px solid #dedede;
      border-radius: 3px;
    }
  }
  .LabelInput{
    vertical-align: top;
  }

  .content-right .top {
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
  }

  .content-right .top label {
    margin-left: 30px;
  }

  .content-right .bottom {
    padding: 20px;
  }
}