/* Css reset start */
html,
body,
div,
span,
p,
a,
em,
img,
ul,
ol,
li,
dl,
dt,
dd,
h2,
h3 {
  border: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  color: #111;
}



/*body{ background-color:#fff; font: .12rem/1.2 SimHei,Sans-serif; outline: none;  }*/

body {
  font-family: Arial, SimHei, Sans-serif, serif;
  outline: none;
}


/*body{ background-color:#fff; font: .12rem/1.2 Sans-serif,SimHei; outline: none;  }*/

img {
  outline: none;
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: .14rem;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: top;
}

* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:-webkit-any-link {
  text-decoration: none;
}

a,
a:focus,
a img {
  border: none;
  hide-focus: expression(this.hideFocus=true);
  outline: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333;
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
}

em {
  font-style: normal;
}


/* Css reset end */


input,textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}

input,
button {
  -webkit-appearance: none;
}

input[type="checkbox"]{
  -webkit-appearance: checkbox;
}

html{
  font-size: 100px;
}
body{
  font-size:.14rem;
}
.pointer{
  cursor: pointer;
}