//- Created by garvey on 2018/1/14.
-require('./winner.less')
.winner_con
    .mask
    .winnerBox.animated.fast.bounceIn
        .close
        .img
        p.fs14 恭喜您已获得
        p.red.fs16 春节长租免费用车资格