*{margin:0;padding:0}
.map{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.desc{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #222;
  color:#fff;
  border:solid 2px #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  line-height: 18px;
}

