body{
    width:100%;
    height:100%;
}
#container {
    position:absolute;
    width:100%;
    height:100%;
}
.networkname-top{
    position:absolute;
    top:.5rem;
    width:95%;
    padding:0 2.5%;
}
.networkname-top .netpoint{
    display:inline-block;
    width: 70%;
    line-height:1.8rem;
    border-radius: 3px;
    background:#fff;
    text-align: center;
    color:#bdbdbd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.networkname-top .icon{
    margin-left: .2rem;
    font-family: 'iconfont';
    display:inline-block;
    width:1.8rem;
    line-height:1.8rem;
    text-align: center;
    border-radius: 50%;
    background:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*导航按钮*/
.networkname-top .navigation {
    display: inline-block;
    margin-left:.2rem;
    line-height: 1.8rem;
    border-radius: 2px;
    text-align: center;
    width:13%;
    background:#fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.networkname-bottom{
    width:95%;
    position:fixed;
    bottom:.8rem;
    padding:0 2.5%;
}
.networkname-bottom button{
    width:100%;
    height:1.8rem;
    background:#d1d1d1;
    border:none;
    outline: none;
    border-radius:3px;
    text-align: center;
    color:#fff;
}
.networkname-button{
    background:#333!important;
}
.networkname-oiler{
    position: fixed;
    width:3.5rem;
    border-radius:2px;
    padding-left:1.5rem;
    line-height:1.8rem;
    left:.5rem;
    bottom:3.5rem;
    background:#fff;
    /*text-align: center;*/
}
.networkname-oiler input{
    width:1rem;
    height:1rem;
    position:absolute;
    top:.4rem;
    left:.3rem;
}
/*刷新按钮*/
.refure-operation {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 100;
}

.refure-operation img{
    width:2.5rem;
}
/*工具车样式*/
.networkname-toolcar{
    position: fixed;
    width:3.5rem;
    border-radius:2px;
    padding-left:1.5rem;
    line-height:1.8rem;
    left:.5rem;
    bottom:5.5rem!important;
    background:#fff;
    /*text-align: center;*/
}
.networkname-toolcar input{
    width:1rem;
    height:1rem;
    position:absolute;
    top:.4rem;
    left:.3rem;
}