.close-checksingle {
    position: absolute;
    left: 1.5rem;
    top: .1rem;
}
/*ͼƬչʾ*/
.checksingle-content {
    padding: 1rem 1.75rem;
}

.checksingle-content .left {
    margin-right: 1rem;
}

.checksingle-content > div {
    margin-bottom: 1rem;
}

.checksingle-content > div > p {
    text-align: center;
    line-height: 2rem;
}

.checksingle-content > div > div {
    position: relative;
    width: 5.2rem;
    height: 5.2rem;
    background: #f4f4f4;
}
.checksingle-content img{
    width:5.2rem;
    height: 5.2rem;
}
