.first{
    margin:.5rem;
}
.confirm-carstate{
    margin:0 .5rem;
}
.confirm-carstate > span {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin-right: .8rem;
    margin-top: .5rem;
    padding: .3rem .2rem;
    border: 1px solid #e7e7e7;
}
.color {
    color: #fff;
    background: #333333;
}
.endwork-netname,.choice-floor,.carnumber{
    padding: .5rem;
    line-height: 2.3rem;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}
li:first-of-type{
    margin-top:1rem;
    border-top: 1px solid #dcdcdc;
}
.endwork-netname input,.choice-floor input,.carnumber input{
    width:65%;
    height: 1.2rem;
    line-height: 1.2rem;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.choice-net{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.endwork-netname input::-webkit-input-placeholder, .choice-floor input::-webkit-input-placeholder,
.carnumber input::-webkit-input-placeholder{
    font-size: .6rem;
}
.endwork-icon,.endwork-icon{
    font-family: 'iconfont';
    float: right;
}
.delete-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5% 2.5%;
    box-shadow: 0px -2px 1px #eaeaea;
}
.delete-btn button {
    width: 95%;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    background: #d1d1d1;
    outline: none;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}
.delete-nextbutton{
    background:#333!important;
}
