.getpicture-content {
    padding: 1rem 1.75rem;
}

.getpicture-content .left {
    margin-right: 1rem;
}

.getpicture-content > div {
    margin-bottom: 1rem;
}

.getpicture-content > div > p {
    text-align: center;
    line-height: 2rem;
}

.getpicture-content > div > div {
    position: relative;
    width: 5.2rem;
    height: 5.2rem;
    background: #f4f4f4;
}

.uploadIcon {
    font-family: 'iconfont';
    font-size: 1.38rem;
    position: absolute;
    left: 1.91rem;
    top: 1.91rem;
}

.end-photo{
    display:inline-block;
    position:absolute;
    left: 1.45rem;
    top: 1.3rem;
    font-size: .8rem;
}

.check-photo{
    display:inline-block;
    position:absolute;
    left: 1rem;
    top: 3.3rem;
    color:#43aff7;
}

.swat-photo{
    display:inline-block;
    position:absolute;
    left: 3.1rem;
    top: 3.3rem;
    color:#43aff7;
}

.getpicture-nextbtn {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5% 2.5%;
    background: #fff;
    box-shadow: 0px -2px 1px #eaeaea;
}

.getpicture-nextbtn button {
    width: 95%;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    background: #d1d1d1;
    outline: none;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}
.getpicture-nextbutton{
    background:#333!important;
}

/*alert弹框*/
.alert-content {
    color: #474747;
    text-align: center;
    padding: 2rem 0;
    border-bottom: .1rem solid #f9f9f9;
}

.alert-bottom {
    position:absolute;
    bottom:.5rem;
    padding-left: .5rem;
}

.alert-bottom button {
    width: 4.85rem;
    line-height: 1.93rem;
    outline: none;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.alert-cancel {
    background: #a7a7a7;
    margin-right: .3rem !important;
}

.alert-sure {
    background: #333333;
}