.ActivityExplain{
  margin-top: 0.25rem;
  text-align: left;
  .item{
    margin:0.1rem 0.3rem;
    .title{
      background-color: #e84656;
      display: inline-block;
      padding:0 0.8em;
      line-height: 0.24rem;
      border-radius: 0.12rem;
      color:#fff;
      font-weight: 300;
    }
    .desc{
      padding: 0.05rem 0;
    }
    .desc_ul{
      padding: 0.05rem 0;
      .index{
        position: absolute;
        line-height: 0.2rem;
      }
      .desc_li{
        margin-left: 1.5em;
        line-height: 0.2rem;
      }
    }
  }
}