@import 'reset.css';

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.float-left{
  float: left!important;
}

.float-right{
  float:  right!important;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.hide{
  display: none;
}

.shadow{
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.warn{
  color:#ed3800;
}

.modal{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 300px;
  /*background-color: #fff;*/
  z-index: 11;
  border-radius: 6px;
}

