.Alert
    .dialogBox.animated.faster.zoomIn
        .title.fs18 !{title}
        .msg.fs14 !{msg}
        .alert_btn_container
            button.btn_row_1.dark_btn.btn_animate.confirm_btn !{confirmButtonText}