//- Created by garvey on 2018/1/14.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 提现记录
body
    .bg-img
    .cash
        p.fs16 您已提现
        p.fs14.money
            span.fs64#money 0
            | 元
    ul.list
