//- Created by garvey on 2018/3/26.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    include ../../../template/head/wx120
    title 邀请记录
body
    .bg-img
    ul.list
