//- Created by garvey on 2018/3/26.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    include ../../../template/head/wx120
    title 邀好友 领百元现金
body
    .header
        .banner.h
    .title
    .desc.fs15
        .o
            p 您为已注册用户，
            p 无法助力好友赢现金。
            p.first 打开APP分享活动页，
            p 赢取属于自己的奖金吧！
            button.download.btn.dark_color_btn.fs15 使用立刻出行
        .n
            p.tip 绑定成功！
            p.first 完成一笔有里程订单，
            p 即可助力好友赢取50元现金奖励
            button.download.icon.btn.dark_color_btn.fs15 下载立刻出行APP