//- Created by garvey on 2017/12/28.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    include ../../../template/head/wx120
    title 邀好友 领百元现金
body.sharePage
    .header
        .banner.hh
    .login
        input#phone.fs14(type="text" maxlength="11" placeholder="输入手机号助力好友领现金")
        //input#code.fs14(type="text" maxlength="4" placeholder="请输入验证码")
        //button#getCode.fs13 获取验证码
    .btn_con
        button.main_color_btn.fs17.btn#verify 点击助力