@import "reset.css";

.btn_short{
  width: 3.35rem;
  height: .46rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#e9e9e9;
  border-radius:2px;
  font-size:16px;
  color:#333333;
  margin-left: auto;
  margin-right: auto;
}

.btn_long{
  display: block;
  text-align: center;
  background:#e90000;
  border-radius:2px;
  color: #FFF;
  line-height: 0.46rem;
  font-size: 16px;
  &.yellow{
    font-size:16px;
    color:#333333;
    background:#e9e9e9;
    border-radius:2px;
  }
  &.disabled{
    background:#e9e9e9;
    border-radius:2px;
    color:#cecece;
  }

}

.red{
  color:#e90000;
}