.cardetail-content {
    background: #fff;
    padding: .5rem;
    border-bottom: 1px solid #f6f6f6;
}

.cardetail-content span {
    display: inline-block;
    margin-top: .3rem;
    padding: .3rem .5rem;
    border: 1px solid #fff;
}

.cardetail-content .getnet, .cardetail-content .returnnet{
    /*color: #9c9c9c;*/
    padding: .3rem 0rem;
    line-height: 1rem;
    position: relative;
}

.cardetail-content .getnet div, .cardetail-content .returnnet div{
    width: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardetail-content .daoh{
    width:.8rem;
    position: absolute;
    right: 0;
    top: .3rem;
}

.cardetail-content img {
    width: 1rem;
}

.cardetail-content p span .font1 {
    color: #999999;
    margin-right: .1rem;
}

.park_fee {
    position: relative;
    left: 2.5rem;
}

.carsingle-nextbtn {
    position: fixed;
    bottom: 0;
    width: 16rem;
    padding: .5rem;
    background: #fff;
    box-shadow: 0px -2px 1px #eaeaea;
}

.carsingle-nextbtn button {
    width: 15rem;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    background: #d1d1d1;
    box-sizing: border-box;
}

.submit-btn {
    background: #333333 !important;
}

/*缴纳费用信息样式*/
.payinfo {
    margin: .5rem;
}

.payinfo p {
    line-height: 1.2rem;
}

/*输入框样式*/
.text-content {
    margin: .5rem;
}

.text-content .p0 {
    line-height: 2.1rem;
}

.text-content .p0 span {
    display: inline-block;
    height: 2rem;
    padding: 0 .3rem;
}

.text-content .p0 input {
    margin-right: .2rem;
}

.text-content .p1 {
    height: 1.5rem;
}

.text-content .p2 {
    margin-top: .5rem;
    height: 4rem;
    border: 1px solid gray;
}

/*增加费用类型*/
.text-content .p3{
    height: 1.5rem;
}

.text-content .p3 .righticon{
    font-family: 'iconfont';
}

.parkingfee,.fee-type{
    box-sizing: border-box;
    width: 10rem;
    border: none;
    padding-left: .5rem;
    line-height: 1.4rem;
    outline: none;
    /*background:#f7f7f7;*/
    /*border:1px solid #dcdcdc;*/
    border-radius: 2px;
}

.text-content .void_write {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    padding: .5rem;
    outline: none;
    background: #f7f7f7;
    border: none;
    border-radius: 2px;
}

/*拍照样式*/
.photo-du {
    line-height: 1.2rem;
    padding-left: .5rem;
}

.getpicture-content {
    padding: .3rem .5rem 2.5rem;
    height: 7.5rem;
}

.getpicture-content .left {
    margin-right: .6rem;
}

.getpicture-content > div {
    margin-bottom: 1rem;
}

.getpicture-content > div > p {
    text-align: center;
    line-height: 1rem;
}

.getpicture-content > div > div {
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
    background: #f4f4f4;
}

.parkfee {
    color: #d1d1d1;
    font-size: .5rem;
}

.uploadIcon {
    font-family: 'iconfont';
    font-size: 1.38rem;
    position: absolute;
    left: 1.41rem;
    top: 1.41rem;
}

.end-photo{
    display:inline-block;
    position:absolute;
    left: .95rem;
    top: .8rem;
    font-size: .8rem;
}

.check-photo{
    display:inline-block;
    position:absolute;
    left:.5rem;
    top: 2.8rem;
    color:#43aff7;
}

.swat-photo{
    display:inline-block;
    position:absolute;
    left: 2.6rem;
    top: 2.8rem;
    color:#43aff7;
}