.Explains{
  padding: 0.15rem 0;
  .item{
    padding-left:0.2rem;
    padding-right: 0.2rem;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 0.12rem;
      height: 0.2rem;
      background: url('../../images/icon_rightArrow_2.png') no-repeat center;
      background-size: 100%;
      top:50%;
      right:0.2rem;
      margin-top: -0.1rem;
    }
  }
}