#checkbeforephoto .content {
    padding: .234rem .41rem;
}

#checkbeforephoto .content .left {
    margin-right: .234rem;
}

#checkbeforephoto .content > div > p {
    text-align: center;
    line-height: .468rem;
}

#checkbeforephoto .content > div > div {
    position: relative;
    width: 1.22rem;
    height: 1.22rem;
    background: #f4f4f4;
}
#checkbeforephoto .content img{
    width: 1.22rem;
    height: 1.22rem;
}