.box {
  .content {
    p {
      font-size: 0.13rem;
      color: #333;
      margin: 0.08rem 0;
      line-height: 1.6;
      b{
        margin:0 0.5em;
        &.noMLeft{
          margin-left:0
        }
      }
    }
    img{
      width: 100%;
    }
  }
}
