.carBox{
  padding: 0.05rem 0.15rem;
  border-bottom: solid 1px #dbdbdb;
  font-size: 0.14rem;
  position: relative;
  .item{
    color:#999;
    span{
      color:#333;
    }
  }
  button{
    position: absolute;
    width: 5em;
    height:0.3rem;
    bottom:0.05rem;
    right:0.15rem
  }
}