include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 取证完成
body
    p 请您立即拨打
        a(href="tel://4006662333") 400-666-2333
        |客服热线处理事故。
    p 在保障安全的情况下，请不要离开现场，并保持手机畅通，以免此期间造成其他损失，给您带来不便。
    .btn-con
        a(href="tel://4006662333")
            button.btn.btn-light.btn-border.tel 联系客服

