@import '../css/reset.css';

.agreement-box {
  padding: 0 20px;
  font-size: 14px;

  h3 {
    padding: 15px 0;
    font-size: 16px;
    color:#111;
  }

  li.title{
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
  }
  li {
    margin-bottom: 15px;
  }
}


table{
  margin-top: 30px;
  background-color: #A0A3AF;
  border-radius: 2px;
  overflow: hidden;
  th,td{
    background-color: #f2f2f2;
    padding:6px;
    text-align: center;
    font-size: 12px;
  }
  td{
    color:#555;
  }
  .title{
    text-align: left;
    background-color: #494b51;
    color:#fff;
  }
}

.desc{
  font-size: 12px;
  color:#111;
  padding: 15px 0;
}
