@import "./reset.css";
@import '../../../../component/rem/index.less';

.header{
  margin:0 0.2rem;
  padding: 0.15rem 0;
  .logo{
    height: 0.2rem;
    background: url('../images/logo.jpg') no-repeat left;
    background-size: auto 100%;
  }
  .title{
    font-weight: bold;
    margin-top:0.25rem;
    text-align: center;
    font-size: 38px;
    color:#E71C00
  }
  .subtitle{
    margin-bottom: 0.25rem;
    text-align: center;
    font-size: 22px;
    color:#E71C00
  }
}
.pr{
  margin:0.05rem 0;
}
.pr,.highlight{
  color:#ed3800;
}

#imgs>.pr{
  margin:0 0.2rem
}

#imgs{
  padding-bottom: 0.6rem;
}
