.Confirm
    .dialogBox.animated.faster.zoomIn
        .title !{title}
        .msg !{msg}
        .alert_btn_container
            button.btn_row_2.white_btn.btn_animate.cancel_btn !{cancelButtonText}
            button.btn_row_2.dark_btn.btn_animate.confirm_btn !{confirmButtonText}
