body {
    width: 100%;
    height: 100%;
    background: url("../images/loge.png") no-repeat;
    background-size: 100%;
}

.contentInfo {
    margin: 4.26rem 1.28rem 0 1.28rem;
    width: 13.44rem;
    color: #fff;
}

.contentInfo .p1 {
    font-size: 1.536rem;
    line-height:1.7rem;
    font-weight: bold;
    /*letter-spacing:2px;*/
}

.contentInfo .p2 {
    font-size: .6rem;
    margin-top: 1.365rem;
    line-height: .85rem;
    text-align: justify;
}
.contentInfo .p3 {
    margin-top: .8rem;
    line-height:.64rem;
}

.login {
    margin: 4.718rem 1.28rem 0 1.28rem;
    width: 13.44rem;
    height:6.826rem;
}
.login input{
    width:100%;
    line-height:1.75rem;
    outline: none;
    border-radius:2px;
    padding:0 0 0 .5rem;
    border:none;
    margin:0;
}
.login .p2{
    margin-top:.469rem;
}
.login .p2 input{
    width:8.2rem;
}
.login button{
    box-sizing: border-box;
    outline: none;
    border:none;
    color:#fff;
    text-align: center;
}
.login #getCode{
    box-sizing: border-box;
    margin:0;
    outline: none;
    background:#DBDBDB;
    color:#fff;
    text-align: center;
    width:4.6rem;
    padding:0;
    line-height:1.75rem;
    border-radius: 2px;
    margin-left:.5rem;
}
.login .p3{
    margin-top:.85rem;
}
.login .p3 button{
    width:100%;
    line-height:2rem;
    background:#DBDBDB;;
    border-radius: 2px;
}
.disabled{
    background: #4A4A4A!important;
}