include ../../../template/base/h5
    include ../../../template/head/viewport
    title 验车服务条款
body.checkDamageClause.app100
    dl
        dt 立刻出行验车服务条款
        dd 欢迎使用立刻出行提供的服务。请在用车前确认车辆外观部件是否有损伤，如发现损伤部位，请在页面中点击损伤部位,并对有伤部位进行拍照上传，我们将根据您提交的信息核实前一位用户是否需承担相应责任。同样，我们将根据下一位用户提交的信息来核实您用车是否规范。为避免产生不必要的纠纷，请您用车前仔细核查车辆状况，及时上传有问题的部件图片。谢谢您的配合和理解。
        dd 本条款的订立、执行、解释及争议的解决均应适用中国法律。
        dd 如双方对本条款内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向“立刻出行”服务总部所在地的人民法院提起诉讼。