/*车辆详情*/
#newbuilt .car-detail{
    background: #fff;
    padding: .12rem .12rem 0;
    border-bottom: 1px solid #f6f6f6;
}

/*成都限行*/
#newbuilt .car-detail .car-top .chengdu-limt {
    border-radius: 3px;
    border: 1px solid #f5937c !important;
    color: #f5937c;
    padding:0 .0234rem;
}

#newbuilt .car-detail .car-top .chengdu-limt2 {
    border: 1px solid #ff9500 !important;
    color: #ff9500;
}

/*广州限行*/
#newbuilt .car-top{
    display:flex;
    display: -webkit-flex; /* Safari */
    justify-content:space-between;
}

#newbuilt .car-top .plate_no{
    font-size:.163rem;
    color: #999999;
}

#newbuilt .car-top .plate_no .font1 {
    font-size:.163rem;
    font-weight: bold;
}

/*车辆状态*/
#newbuilt .car-top .status_name {
    padding:.01rem .03rem;
    border: 1px solid #e7e7e7!important;
    border-radius: 2px;
}

#newbuilt .gz-limit{
    display:flex;
    display: -webkit-flex; /* Safari */
    justify-content:space-between;
}

#newbuilt .gz-limit .div-com{
    height: .187rem;
    line-height: .187rem;
    width: .187rem;
    text-align: center;
    margin-right: .0468rem;
    font-size: .131rem;
}

#newbuilt .gz-limit .div-com:last-of-type{
    margin-right: 0!important;
}

#newbuilt .gz-limit .today-moring{
    display:flex;
    display: -webkit-flex; /* Safari */
    justify-content:space-between;
    border-radius: 2px;
    border: 1px solid #b6e088;
    text-align: center;
    margin-right: .0468rem;
    height: .187rem;
}

#newbuilt .stop-ff8e8e{
    border: 1px solid #ff8e8e!important;
}

#newbuilt .wait-D1D1D1{
    border: 1px solid #D1D1D1!important;
}

#newbuilt .gz-limit .today-moring div{
    height: .187rem;
    line-height: .187rem;
    border: none !important;
    width: .187rem;
    text-align: center;
    font-size: .131rem;
}


/*开*/
#newbuilt .opencar {
    color: #fff!important;
    background: #b6e088;
    border:1px solid #b6e088;
    border-radius: 2px;
}

/*停*/
#newbuilt .stopcar {
    color: #fff!important;
    background: #ff8e8e;
    border:1px solid #ff8e8e;
    border-radius: 2px;
}

/*待*/
#newbuilt .waitingcar {
    color: #fff!important;
    background: #D1D1D1;
    border:1px solid #D1D1D1;
    border-radius: 2px;
}

#newbuilt .car-detail .car-info>span {
    display: inline-block;
    margin-top: .07rem;
    color: #999999;
    font-size:.131rem;
}

#newbuilt .car-detail .brand_name,
#newbuilt .car-detail .car-color,
#newbuilt .car-detail .carqube{
    padding-right:.0936rem;
    border-right:1px solid #e7e7e7;
}

#newbuilt .car-detail .car-color,
#newbuilt .car-detail .carqube,
#newbuilt .car-detail .remain_km{
    margin-left:.0468rem;
}

/*取还车网点*/
#newbuilt .car-detail .getnet{
    padding: .07rem 0rem;
    border:none!important;
    display:flex;
    display: -webkit-flex; /* Safari */
    justify-content:space-between;
}

#newbuilt .car-detail .getnet img{
    width:.234rem;
}

#newbuilt .car-detail .getnet .get-left{
    width: 3.2rem;
    line-height: .234rem;
}

#newbuilt .car-detail .getnet .get-right{
    width: .31rem;
    text-align:right;
}

#newbuilt .car-detail div.general{
    color:#259bef;
    text-align: center;
}

#newbuilt .remark-info{
    margin-bottom:0!important;
}

#newbuilt .submit-info{
    margin:.12rem;
}

#newbuilt .checkbox-type{
    margin-top:.12rem;
    background:#fff;
    height:.54rem;
    line-height:.54rem;
    padding:0 .12rem;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap:wrap;
}

#newbuilt .checkbox-type font{
    color:red;
}

#newbuilt .checkbox-type .radio{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap:wrap;
}

#newbuilt .checkbox-type .radio .item{
    margin-left:.3rem;
}

#newbuilt .checkbox-type .icon {
    display:inline-block;
    width: .14rem;
    height: .14rem;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: .04rem;
}
#newbuilt .checkbox-type .on{
    border: none;
    border-radius: 0;
    background: url('../images/selected.png') no-repeat;
    background-size: 100% 100%;
}

#newbuilt .checkbox-type .label-on{
    color:#259bef;
}