.PublicMsg{
  width: 100%;
  padding: 0.08rem 0.1rem;
  box-sizing: border-box;
  font-size: 13px;
  background: #FFFCE0;
  color: #ED3800;
  text-align: center;
  margin-bottom: -0.1rem;
  span{
    line-height: 0.2rem;
    display: inline-block;
    vertical-align: top;
    &::before{
      content:'';
      width: 0.2rem;
      height: 0.2rem;
      display: inline-block;
      vertical-align: top;
      background: url('../images/talk.png') no-repeat center;
      background-size:100%;
      margin-right: 0.06rem;
    }
  }
}