.successBox{
  text-align: center;
  padding-top: 0.4rem;
  .success_img{
    width: 0.66rem;
  }
  .title{
    color:#111;
    line-height: 0.4rem;
  }
  .name{
    color:#999;
    line-height: 0.2rem;
    margin-bottom:0.1rem;
  }
  .btn_con_copy{
    padding: 0.1rem 0;
    #copy{
      border-color: #494B51;
    }
  }
  .goods_img{
    margin:0.1rem auto;
    display: block;
    width: 1.6rem;
  }
  #qrcode{
    margin:0 auto;
    width: 1.8rem;
    height: 1.8rem;
    background: no-repeat center;
    background-size: 100%;
  }
  .qrtext{
    font-size: 12px;
    color: #111111;
  }
}