//- Created by garvey on 2018/3/12.
-require('./successBox.less')
.successBox
    img.success_img(src=require('../../images/success.png'))
    .title.fs20 恭喜您获得
    .name.fs13 #{name}
    #qrcode
    .qrtext 到店时请出示二维码兑换