//- Created by garvey on 2017/12/20.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 提高里程积分
body.app200
    dl
        dt 方法一：
        dd.noIndent 增加行驶里程1公里=1里程积分。
        dt 方法二：
        dd.noIndent 行驶里程 ≥ 200公里/自然月，且订单 ≥ 6单/自然月，且无违章无事故，可获得50里程积分。
        dt 方法三：
        dd.noIndent 还车后，订单费用在1小时之内支付成功，可获得2里程积分。
        dt 方法四：
        //dd.noIndent 充值成功后可获得现金充值金额的10%的里程积分。
        //dd.noIndent 例：现金充值500元，可获得50里程积分。
        //dt 方法五：
        dd.noIndent 邀好友注册并身份认证成功，输入分享码，每邀请一人，奖励 50 里程积分。
    .scoreFooter 更多关于
        a(href="/app/memberMall/scoreExplain.html")#toExplain 里程积分说明>>

