//- Created by garvey on 2017/12/20.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 什么是里程积分
body.app200
    dl
        dt 里程积分是立刻出行用户专属积分。
        dt 里程积分可以在立刻出行APP内参与兑换，不同的商品兑换消耗的里程积分不同，通过里程积分兑换的商品不支持退换货。