//- Created by garvey on 2017/12/20.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 里程积分注意事项
body.app200
    dl
        dt 1. 有效期1年，里程积分到期清零。

        dt 2. 里程积分可累计。

        dt 3. 参与兑换的条件：
        dd A.证件已认证通过。
        dd B.已缴纳保证金。
        dd C.累计行驶里程大于 1 公里。

        dt 4. 里程积分获取项目涉及违章、事故、自助缴费的，由于此类项目的查询属于非实时特性，故每月月底最后一天统计上个月的里程积分。

        dt 5. 订单超过7天未支付费用，减25里程积分。

        dt 6. 违章：
        dd A.无扣分，无罚款， 违章警告减50里程积分。
        dd B.无扣分，只罚款， 减100里程积分。
        dd C.扣分小于6分，减200里程积分。
        dd D.扣分大于等于6分，里程积分清零。

        dt 7. 事故：
        dd A.主责减全部里程积分。
        dd B.次责减500里程积分。
        dd C.无责不减里程积分。
