@import '../css/resetOld.css';
.openCity{
  padding: 30px 10px;
}
.openCity h4{
  margin-bottom: 10px;
  font-weight: normal;
}
.city-list li{
  position: relative;
  margin-bottom: 2px;
  padding: 0 5px;
  line-height: 3;
  background-color: #fff;
  border-radius: 6px;
}
