@import "./common/common";
.header{
  .banner{
    width: 100%;
    height: 2.76rem;
    background: #ffe000 url('../images/banner.png') no-repeat top;
    background-size: 100%;
  }
}
.gift_box{
  margin-top: -0.1rem;
}

.details{
  text-align: center;
  margin-top: 0.2rem;
}

