//- Created by garvey on 2017/11/14.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 优惠券
body
    ul.coupon_list
        li.msg 加载中...
    .btn_con
        button#download.dark_btn 我要领券
