//- Created by garvey on 2017/11/6.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 处理车辆外观故障
body
    .showContainer
    .btnContainer
        button.btn.white_btn#return 返回
        button.btn.blue_btn.disabled#repair 维修
