//- Created by garvey on 2017/10/30.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 用户上报车伤列表
body
    .button_list
        button.blue_btn.main_btn#rearView(data-id=1) 后视镜有伤 需要立即处理
        button.blue_btn.main_btn#tyre(data-id=2) 轮胎有伤 需要立即处理
        button.blue_btn.main_btn#other(data-id=3) 其它有伤 需要立即处理
        button.blue_btn.main_btn#all(data-id=4) 全部有伤车辆列表