//- Created by garvey on 2017/10/30.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 车伤列表
body
    .header
        input#search(placeholder='车牌号或VIN后六位')
        button#searchBtn.blue_btn 搜索
        button#filter.blue_btn 筛选
    .listContainer