.RealName{
  .realNameBox1{
    padding: 0.16rem 0.2rem .15rem;
    color:#333;
    background: #FFF;
    border-bottom: 1px solid #f5f5f5;
    .p1{
      font-size:15px;
      color:#333333;
    }
    .idCard{
      height: 0.94rem;
      margin: 0.15rem 0 0.1rem;
    }
    .orange{
      position: relative;
      line-height: .23rem;
      font-size: 12px;
      height: .2rem;
      padding-left: .18rem;
      background: url('../../images/icon_orange2.png') no-repeat left center;
      background-size: 12px;
      color: #666;
    }
  }
  .realNameBox2{
    margin:0.1rem 0 .1rem;
    color:#333;
    background: #FFF;
    .address{
      padding: 0.15rem 0.2rem 0.05rem;
      font-size:15px;
      color:#333333;
      line-height:18px;
    }
    .loading{
      font-size: 13px;
      text-align: center;
      padding: 0.8rem 0;
      color:#999;
    }

    .add-list{
      padding-left: 0.2rem;
      .add-item{
        padding: 0.14rem 0.2rem 0.14rem 0.24rem;
        background: url('../../images/icon_address.png') no-repeat left center;
        background-size: auto 0.18rem;
        border-top: solid 1px #f4f4f4;
        &:nth-of-type(1){
          border:none;
        }
        .add-item-in{
          padding-right: 0.2rem;
          background: url('../../images/icon_rightArrow_2.png') no-repeat right center;
          background-size: auto 0.18rem;
        }
      }
    }

    .adds{
      font-size:14px;
      color:#111;
      line-height: 0.2rem;
      padding: 0.14rem 0.2rem;
      border-top:solid 1px #f4f4f4;
      clear: both;
      span{
        color:#999;
      }
    }
    .colorRed{
      color: #E90000;
    }
    .btn_short{
      width: 1.4rem;
      height: 0.46rem;
      line-height: 0.46rem;
      margin:0.1rem auto;
    }
  }
  .realNameBox3{
    margin:0.1rem 0 .1rem;
    color:#333;
    background: #FFF;
    .rental{
      font-size: 15px;
      padding: 0.15rem 0.2rem 0;
    }
    .rentalInfo{
      padding: 0.1rem 0.2rem 0;
      font-size:14px;
      color:#333333;
      line-height:18px;
      span{
        color: #999;
      }
    }
    .lastInfo{
      padding-bottom: .15rem;
    }
  }
  .hint{
    font-size:14px;
    color:#e90000;
    text-align:center;
    padding: .46rem 0 .16rem;
  }
}