.Renew{
    .ChooseTime {
        padding: .31rem .35rem .18rem .28rem;
    }
    .float-right{
        float:right
    }
    .dataGray{
        color: #C5C5C5 !important; 
    }
    .longRental-date-picker{
        position: relative;
        .cal-tips2{
            font-size: 12px;
            color: #999;
            
        }
        .cal-tips{
            padding-bottom: 0;
        }
        .renewData{
            background: #F4EEEA !important;
            border-color: #F4EEEA !important;
        }
        .getprice {
            background: #FFF;
            box-sizing: border-box;
            padding: .15rem .2rem .15rem;
            line-height: 0.2rem;
            margin-top: .12rem;
            border-bottom: 1px solid #F5F5F5;
            .insurance-switch {
                padding-right: 0.32rem;
                background: url('../../images/switch_false.png') no-repeat right center;
                background-size: auto 80%;
            
                &.active {
                  background-image: url('../../images/switch_true.png');
                }
            }
            div {
              padding-bottom: .15rem;
              &:last-child {
                padding-bottom: 0;
              }
            }
      
            .goExplains {
              color: #999;
              padding-right: .2rem;
              background: url('../../images/goExplains.png') no-repeat right center;
              background-size: 13px 13px;
              &.androidbg2{
                background-position: right 0;
              }
            }
        }
        .btn-con{
            border-top: 1px solid #f5f5f5;
        }
    }
    .chooseData{
        border-top:solid 1px #dedede  !important;
        border-bottom: solid 1px #dedede  !important;
        background: #F4EEEA !important;
        color: #C5C5C5 !important;
        .price{
            color: #C5C5C5 !important;
        }
    }
    .days{
        margin-bottom: 0 !important;
        border-bottom: 1px solid #f5f5f5 !important;
    }
    
}