//- Created by garvey on 2018/6/28.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    include ../../../template/head/wx132
    title 通勤老司机招募
    script(src="/js/bundle/dll.vue.100.js")
body
    #app
