.btn_con_long{
  width:2.2rem;
  height: 0.46rem;
  line-height: 0.46rem;
  color:#111;
  font-size: 0.15rem;
  margin:0 auto;
  text-align: center;
  background: url('../../images/btn_white.png') no-repeat center;
  background-size: auto 98%;
  &.red{
    background-image: url('../../images/btn_red.png');
    color:#fff
  }
  &:active{
    transform: scale(0.98);
  }
}