@import "./common";

body{
  background-color: #f7f7f7;
}
.header{
  padding: 0.15rem;
  background-color: #fff;
  #search{
    width: 50%;
    border:solid 1px #000000;
    height: 0.26rem;
    box-sizing: border-box;
  }
  .blue_btn{
    height:0.26rem;
    vertical-align: top;
    &:active{
      margin-top: 0;
    }
  }
  #searchBtn{
    width:20%;
    margin:0 5%;
  }
  #filter{
    width:15%
  }
}
.damageList{
  border-top:solid 1px #dfdfdf;
  .empty{
    text-align: center;
    color:#999;
    padding: 0.5rem 0;
  }
}