.Peccancy{
  .peccancy{
    background: #FFF;
    .item{
      padding: 0 0.2rem .18rem;
      border-bottom: 1px solid #f5f5f5;
      font-size: 14px
    }
    .title{
      color:#FF9500;
    }
    .label{
      color:#999;
      padding: .18rem 0 .12rem;
      font-size: 12px;
    }
  }
  .hint{
    font-size:12px;
    color:#9b9b9b;
    text-align: center;
    padding: .22rem 0 .38rem;
  }
}