@import '../css/reset.css';

.center-help{
  padding: 20px 10px;
}
h2{
  margin: 10px 0;
  padding: 0 5px;
  font-weight: normal;
  background-color: dodgerblue;
  color:#fff;
}
h3{
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
}
.text-pic p{
  padding: 20px 0 10px;
}
.text-pic img{
  margin: 0 auto;
  width: 200px;
}
.content-text li{
  margin-top: 10px;
  line-height: 1.8em;
  text-indent: 2em;
}
.content-text li p:nth-child(1){
  padding: 5px 0;
}

.step{
  img{
    width: 100%;
  }
}