.destine-content {
    box-sizing: border-box;
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid #f6f6f6;
}

.destine-content > div:first-of-type {
    box-sizing: border-box;
    height: 2rem;
    padding: 0 .5rem;
}

.destine-content > div:last-of-type {
    box-sizing: border-box;
    height: 4rem;
    padding: .5rem;
    border-top: 1px solid #f6f6f6;
}

.destine-content .div1 span {
    box-sizing: border-box;
    font-family: 'iconfont';
    display: inline-block;
    width: 24%;
    line-height: 2rem;
    text-align: center;
    border-right: 1px solid #fbfbfb;
}

.destine-content .div1 .destineRefle {
    border-right: none;
}

.destine-content .div2 p {
    line-height: 1.5rem;
}

.destine-content .div2 .p1 {
    font-size: .8rem;
}

.destine-content .div2 .p1 span {
    font-size: .8rem;
}

.destine-content .div2 .p2 {
    text-align: right;
}

.destine-content .div2 .p2 span {
    color: #c6c6c6;
}

.destine-content .p2 span:first-of-type {
    margin-right: .5rem;
}

.destineList li {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    /*height: 7.4rem;*/
    padding: .5rem .5rem .8rem;
    border-bottom: 1px solid #f6f6f6;
}

.destineList li:nth-of-type(even) {
    background: #f8f8f8;
}

.destineList li span {
    display: inline-block;
    line-height: 1.2rem;
    padding: .1rem .2rem;
    margin-top: .15rem;
}

.destineList li span:first-of-type {
    font-size: .7rem;
}

.destineList li span:nth-of-type(2) {
    margin-right: .5rem;
    color: #4caced;
    border: 1px solid #4caced;
}

.destineList li span:nth-of-type(3) {
    margin-right: .5rem;
}

.destineList li span:nth-of-type(6) {
    width: 11rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.destineList li span:nth-of-type(7) {
    float: right;
}

.destineList li span font {
    margin: 0 .2rem;
    color: red;
}

.netlocation font {
    color: #4caced;
}

.netstockList li span img {
    width: .8rem;
    vertical-align: middle;
    margin-right: .3rem;
}

/*底部按钮*/
.bottom-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 16rem;
    height: 3rem;
    padding: .5rem .2rem;
    background: #fff;
    box-sizing: border-box;
}

.bottom-btn span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 5rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 3px;
    font-size:.5rem;
}

.bottom-btn .check-net, .bottom-btn .check-netcar {
    background: #44a8ec;
    margin-right: .2rem;
    color: #fff;
}

.check-carshow {
    width: 5.2rem;
    background: #fff;
    border: 1px solid;
}

/*筛选弹框*/
.carstock_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    height: 13rem;
    background: #fff;
}

.carstock-title {
    text-align: center;
    fon-size: .8rem;
    height: 1.6rem;
    line-height: 1.5rem;
}

.confirm-carstock {
    height: 10rem;
}

.close-carstock {
    font-family: 'iconfont';
    fon-size: .8rem;
    float: left;
}

.confirm-carstock > p:first-of-type, .confirm-carstock > p:nth-of-type(3) {
    line-height: 1.5rem;
}

.confirm-carstock > p:nth-of-type(3) {
    margin-top: .5rem;
}

.confirm-carstate > span, .confirm-carnetstate > span {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin-right: .3rem;
    margin-top: .5rem;
    padding: .4rem 1rem;
    border: 1px solid #e7e7e7;
}

.carstate-bottom {
    box-sizing: border-box;
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem;
}

.carstate-bottom button {
    width: 7.25rem;
    line-height: 2rem;
    text-align: center;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.carstate-reset {
    margin-right: .5rem;
    background: #d8d8d8;
}

.carstate-sure {
    color: #fff;
    background: #333333;
}

/*颜色控制*/
.color {
    background: #333;
    color: #fff;
}

/*排序弹框*/
.sort_content {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
    height: 5.8rem;
    background: #fff;
}

.sort-title {
    text-align: center;
    fon-size: .8rem;
    height: 1.6rem;
    line-height: 1.5rem;
}

.close-sort {
    font-family: 'iconfont';
    fon-size: .8rem;
    float: left;
}

.sort_content li {
    line-height: 1.7rem;
    border-top: 1px solid #ededed;
    position: relative;
}

.sort_content li img {
    position: absolute;
    right: 0;
    top: .35rem;
    width: 1rem;
    vertical-align: middle;
}

.sort-color {
    color: #44a8ec;
}

/*车辆预定列表说明弹框*/
.destine_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 1);
    z-index: 10000;
}

.destine_content {
    padding: .8rem;
}

.destine_content .title {
    text-align: center;
    font-size: .8rem;
    line-height: 2rem;
    font-weight: bold;
}

.destine_content .p1 {

}

.destine_content .p1, .destine_content .p2, .destine_content .p3 {
    margin-top: .5rem;
    line-height: 1rem;
}

.destine_window .destine_bottom {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    left: 0;
    text-align: center;
}

.destine_window .destine_bottom img {
    width: 2rem;
    vertical-align: middle;
}