.ToLongRentalExplain{
  width: 100%;
  // height: .25rem;
  padding: .14rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:.13rem;
  color:#999;
  position: relative;
  background: url('../../images/explain.png') no-repeat 62% center;
  background-size: 4px 8px;
}