.PickBranch{
  position: relative;
  .name{
    position: absolute;
    width: 3.55rem;
    line-height: 0.2rem;
    padding: 0.1rem 0.15rem;
    text-align: center;
    top:0.05rem;
    left:0.1rem;
    box-sizing: border-box;
    background-color: #fff;
    .default{
      color:#999;
    }
  }
  .btn_con{
    position: absolute;
    width: 80%;
    bottom:20px;
    left:10%;
    background-color: #fff;
  }
}