.alert3001{
    position: fixed;
    z-index: 100;
    top:0;
    right:0;
    bottom:0;
    left:0;

    .Mask{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.44);
    }

  .warn{
    color:#ed3800;
  }

    .Alert, .Confirm{
      .dialogBox {
        background-color: #FFF;
        width: 78%;
        position: absolute;
        top: 30%;
        left: 11%;
        padding: 0.1rem 0.3rem;
        box-sizing: border-box;
        border-radius: 2px;
        color: #494B51;
        text-align: center;
        font-size: 0.15rem;
        line-height: 0.23rem;
        .title{
          font-size: 0.16rem;
        }
        .title,
        .msg{
          margin: 0.1rem 0;
          word-break: break-all;
        }
        .msg{
          font-size: 0.14rem;
          text-align: left;
        }
        .btn{
          font-size: 0.15rem;
          color: #fff;
          background-color:#494b51 ;
          border:none;
        }
        .alert_btn_container {
          border-top: solid 1px #dfdfdf;
          padding: 0.1rem 0;
        }
      }
    }
}