@import "./common/reset.css";
//@import "./common/font.less";
@import '../../../../css/buttons/button';

html,body{
  background-color: #fff!important;
}

.btn_con{
  padding: 0.4rem 0.2rem;
  height:0.46rem;
  button{
    height: 100%;
    width:47%;
    &:nth-of-type(2){
      float: right;
    }
  }
}