@blue: #169bd5;
@orange: #ff6c3e;
@green: #5FB500;
@red: #ED3800;

.lkblue {
  color: @blue !important;
}

.lkorange {
  color: @orange !important;
}

.lkgreen {
  color: @green !important;
}

.lkred {
  color: @red !important;
}
