.ToLongRentalExplain{
  width: 0.54rem;
  height: 1.35rem;
  position: fixed;
  right:0.02rem;
  top:0;
  background: url('../../images/toDetail_red.png') no-repeat left top;
  background-size:auto 100%;
  &.yellow{
    background-image: url('../../images/toDetail_yellow.png');
  }
}