//- Created by garvey on 2018/1/14.
-require('./explain.less')
.ActivityExplain
    .item
        .title.fs14 活动时间
        .desc.fs13 2018年3月31日 —— 2018年4月28日
    .item
        .title.fs14 活动内容
        .desc.fs12 每日首单享3小时免费开，还能瓜分百万现金。
    .item
        .title.fs14 活动规则
        ul.desc_ul.fs12
            li
                .index ①
                .desc_li 活动期间，每日首单（以订单支付时间为准）可享3小时免费开，超过3小时正常计费。
            li
                .index ②
                .desc_li 每日首单前3小时内行驶的里程可兑换等额现金，即1公里兑换1元现金，每日上限50元。活动期间，单人累计最高可获得600元现金奖励。
            li
                .index ③
                .desc_li 订单结束后，按系统提示提交账户信息（须为本人名下账户）可进行提现，审核通过后，金额将实时存入该账户。
            li
                .index ④
                .desc_li 获赠现金可累计，每次按账户最高可提金额提现，单个账号每日限提现一次。
            li
                .index ⑤
                .desc_li 4月28日晚24时后支付的订单不参与本活动。
            li
                .index ⑥
                .desc_li 可提现金额需在5月1日前完成提取，逾期未提视为放弃。
            li
                .index ⑦
                .desc_li 本活动仅限长沙地区用户参加。
