//- Created by garvey on 2018/1/14.
-require('./moneyBox.less')
.moneyBox
    .link_con
        span.link.fs13#toHistory 提现记录
    .desc.fs14 您可提取
    .money
        span.num.fs42 #{money}
        span.yuan.fs14 元
    .btn_con
        button.main_color_btn.fs16#cash 点击提现

