//- Created by garvey on 2018/1/14.
-require('./winner.less')
.winner_con
    .mask
    .winnerBox.animated.fast.bounceIn
        .close
        .img
        p.fs14 恭喜您已获得
        p.red.fs16 春节长租免费用车资格
        p.fs14 系统将在27号审核您的资格，通过后将会给您发送短信通知，请注意查收