body{
  padding-top: .22rem;
  font-family: PingFangSC-Regular;
  font-size: .12rem;
  color: #6d6d6d;
  text-align: justify;
  line-height: .19rem;
  padding-bottom: .6rem;
  padding-left: .1rem;
  padding-right: .1rem;
}
*{
  box-sizing: border-box;
}
.center{
  text-align: center;
  margin: .2rem 0;
}
.title{
  margin: .1rem 0;
}
img{
  display: block;
  width: 100%;
  margin-bottom: .2rem;
}
