@import "./common/reset.css";
.edit{
  padding: 0.3rem 0;
  color:#111;
  .editBox{
    padding-top: 0.2rem;
  }
  .input_con{
    margin-bottom: 0.2rem;
    p{
      line-height: 0.24rem;
    }
    input{
      border:solid 1px #d6d6d6;
      line-height: 0.38rem;
      margin:0.03rem 0;
      padding: 1px 0.16rem 0;
      border-radius: 0.19rem;
      box-sizing: border-box;
    }
    input{
      width: 2rem;
    }
  }
  .btn_con{
    text-align: center;
    padding: 0.3rem;
  }

}