.box_title{
  span{
    display: inline-block;
    line-height: 0.28rem;
    font-size: 0.16rem;
    vertical-align: top;
  }
  .icon_con{
    margin-top: -0.01rem;
    margin-right: 6px;
    height: 0.28rem;
    width: 0.28rem;
    background: url('../images/icons.png') no-repeat;
    background-size: 400% 100%;
    &.icon_1{
      background-position: 0 0;
    }
    &.icon_2{
      background-position: -0.28rem 0;
    }
    &.icon_3{
      background-position: -0.56rem 0;
    }
    &.icon_4{
      background-position: -0.84rem 0;
    }
  }
}