//- Created by garvey on 2017/12/12.
-require('./login.less')
.login
    input#phone(type="text" maxlength="11" placeholder="请输入手机号")
    input#code(type="text" maxlength="4" placeholder="请输入验证码")
    button#getCode.dark_btn.disabled 获取验证码
    button#verify.dark_btn.disabled 领取优惠券