@import '../../../../css/reset.css';
body{
  background-color: #f2f2f2;
}

.container{
  padding: 0.2rem;

  .title{
    font-size: 15px;
    margin-bottom: 0.15rem;
  }

  .item{
    margin:0.1rem 0;
    font-size: 13px;
    color:#666;
  }
}
