.detail_header{
  background-color: #fff;
  padding: 5.3%;
  font-size: 0.13rem;
  .rental_top{
    overflow: hidden;
    zoom:1;
    li{
      width:33%;
      box-sizing: border-box;
      float: left;
      &:nth-of-type(2){
        text-align: center;
      }
      &:nth-of-type(3){
        text-align: right;
      }
      p {
        &:nth-of-type(1) {
          font-size: 0.15rem;
        }
        &:nth-of-type(2) {
          color: #999;
        }
      }
    }
  }
}