.Alert
    .dialogBox.animated.faster.zoomIn
        .title !{title}
        .msg !{msg}
        .alert_btn_container
            button.btn_row_1.dark_btn.btn_animate.confirm_btn !{confirmButtonText}