//- Created by garvey on 2017/11/8.
script(src="https://g.alicdn.com/de/prismplayer/2.2.0/aliplayer-min.js")
link(href="https://g.alicdn.com/de/prismplayer/2.2.0/skins/default/aliplayer-min.css" rel="stylesheet")