//- Created by garvey on 2017/11/7.
meta(name="keywords" content="立刻出行 立刻 共享汽车 共享出行 租车 分时租赁 汽车租赁")
meta(name="description" content="立刻出行（LIKE），是共享经济浪潮下顺势而生的汽车共享出行服务平台。通过将移动互联网与汽车分时租赁深度结合，打破传统汽车出行模式，服务于城市内短途出行需求。")
