//- Created by garvey on 2017/11/10.
link(href="https://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet")
style video::-webkit-media-controls {display:none !important;}
script(src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
script(src="https://vjs.zencdn.net/5.8.8/video.js")
