<template id="box">
    <li class="coupon_box $valid$" data-id="$id$">
        <div class="type">$typeDesc$</div>
        <div class="main_box">
            <div class="money">$value$<p class="type_cut">$typeCut$</p></div>
            <div class="desc">
                <div class="name">$name$</div>
                <div class="time">$time$</div>
                <ul class="limit">
                    $des$
                </ul>
            </div>
        </div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="useless_desc">$uselessDesc$</div>
        <div class="choose"></div>
    </li>
</template>