//- Created by garvey on 2017/12/15.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    script(src="/js/bundle/dll.vue.100.js")
    title 兑换历史
body
    ul.list
