/* Css reset start */
html,
body,
div,
span,
p,
a,
em,
img,
ul,
ol,
li,
dl,
dt,
dd,
h2,
h3 {
    border: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    color: #111;
    background-color: #fff;
}


html,body{
    font-family: 'PingFang SC','Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', Helvetica, STHeiTi, sans-serif;
}



img {
    outline: none;
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: .14rem;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: top;
}

* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:-webkit-any-link {
    text-decoration: none;
}

a,
a:focus,
a img {
    border: none;
    hide-focus: expression(this.hideFocus=true);
    outline: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
    outline: none;
    text-decoration: none;
}

a:hover {
    outline: none;
}

em {
    font-style: normal;
}

button{
    user-select: none;
}

/* Css reset end */

input,
button {
    -webkit-appearance: none;
}



/*     -webkit-appearance: none;
    border: 0;
    background: none; */

html{
    font-size:100px;
}
body{
    font-size:14px;
}

.red{
    color: #ed3800 !important;
}

.green{
    color: #5fb500 !important;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.map {
    width: 100vw;
    height: 100vh;
}
.btns{
    position: absolute;
    width: 100px;
    top:0;
    right:0;
}