//- Created by garvey on 2018/6/28.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 夏日优惠 充值返余额
body
    div.loading 正在进入充值页面...
    img.bg(src=require('./images/bg.png'))
