.orderBox{
  border-bottom: solid 1px #dbdbdb;
  padding: 0.1rem 0.1rem 0.13rem;
  font-size: 14px;
  .des{
    font-size: 12px;
  }
  .gray,.des{
    color:#999;
  }
  .status{
    font-size: 12px;
    border:solid 1px #dbdbdb;
    line-height: 0.2rem;
    padding: 0 0.05rem;
    border-radius: 3px;
  }
}