@import '../css/reset.css';

body{
  background-color: #fff;
}
.brand-box{
  padding: 20px 18px 30px;
  font-size: 14px;
  background-color: #fff;
  /*border-radius: 8px;*/
  /*box-shadow: 0 10px 10px -3px rgba(0,0,0,.2);*/
}
.justify{
  text-align: justify;
}
.brand-box li{
  padding-top: 20px;
}