@import "common/common";

.box_body{
  &>p{
    padding: 0 0.15rem;
    margin: 0.15rem auto;
    line-height: 0.22rem;
  }
  .login{
    padding: 0 0.15rem;
  }
  .whoiam{
    padding: 0 0.15rem;
    margin: 0.15rem auto;
    font-size: 0.15rem;
    font-weight: bold;
  }
  .btn_con_long{
    padding: 0 0.15rem;
    margin: 0.15rem auto;
  }
  .activity_prizes{
    padding: 0;
  }
}
