*{margin:0;padding:0}
ul,li{
  list-style: none;
}
#map{width:100vw;height: 100vh}
.input_con{
  position: fixed;
  width: 13em;
  max-width: 100%;
  background-color: #fff;
  border-left:solid 1px #DBDBDB;
  border-bottom:solid 1px #DBDBDB;
  right:0;
  top:0;
  border-radius: 0 0 0 10px;
  z-index: 10;
  padding: 5px 15px;
  font-size: 16px;
  input,select{
    width:8em;
  }
  button{
    width:13em;
    height: 2em;
    background-color: #333;
    color:#fff;
    border:none;
    border-radius: 5px;
    margin:3px 0;
    &#branch{
      width: 8em;
      margin-left:5em;
    }
    &#save_hot{
      width: 8em;
      margin-left:5em;
    }
  }
  .info{
    width:100%;
    padding: 5px 0;
    text-align: center;
  }
  .info_con{
    display: none;
    &>div{
      border-top:solid 1px #DBDBDB;
      padding: 5px 0;
    }
    #show_hot_level{
      li{
        opacity: 0.8;
        color:#111;
        padding: 0 1em;
        &:nth-last-of-type(1){
          color:#EEE
        }
      }
    }
  }
}
label{line-height:2em}
.btn{width: 5em;font-size: 14px;}
