@import "reset.css";

body{
  position: relative;
  min-height: 100vh;
  background: #ef1f2f url('../images/bg.png') repeat-y center;
  background-size: 100% auto;
}

.header{
  height: 0.4rem;
  background: url('../images/header2.png') no-repeat center;
  background-size: 100%;
}

.container{
  padding-bottom: 0.65rem;
  text-align:center;

  .succ{
    margin: 0.45rem auto 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    background: url('../images/succ.png') no-repeat center;
    background-size: 100%;
  }

  .title{
    font-size: 24px;
    font-weight: 500;
  }

  .desc{
    margin-top: 0.05rem;
    font-size: 15px;
    color:#666;
    font-weight: 500;
  }

  .btn{
    width: 1.6rem;
    display: block;
    border:none;
    outline: none;
    height: 0.46rem;
    margin:0.6rem auto;
    box-sizing: border-box;
    border-radius: 2px;
    background: #FAEA9D;
    font-size: 16px;
    color: #EF1F2F;
    font-weight: 500;
  }
}


.footer{
  position: absolute;
  width: 100%;
  bottom:0;
  height: 0.65rem;
  background: url('../images/footer2.png') no-repeat center;
  background-size: 100%;
}
