.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.float-left{
  float: left!important;
}

.float-right{
  float:  right!important;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.hide{
  display: none;
}

.shadow{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}

.warn{
  color:#ed3800;
}


  .icon{
    display: inline-block;
    width:0.2rem;
    height:0.2rem;
    background: no-repeat center;
    white-space:nowrap;
    letter-spacing: -1em;
    text-indent: -99em;
    color: transparent;
    float: left;
    &+.icon-text{
      border: 1px solid transparent;
      margin-top: -1px;
      display: inline-block;
      line-height: 0.2rem;
    }
  }




.fun-bar{
  background-color: #fff;
  width: 3.55rem;
  margin:0 auto;
}

.point_car_cnt{
  text-align: center;
  display: block;
  border-radius: 50%;
  font-size: 12px;
  background: #494B51;
  border: 1px solid #FFFFFF;
  width: 18px;
  line-height: 18px;
  color:#fff;
  &.xl{
    width: 22px;
    line-height: 22px;
    font-size: 14px;
  }
  &.empty{
    background-color: #ccc;
  }
}

div{
  font-size: 0.14rem;
}
