.ChooseDamage{
  // padding: 0.18rem 0;
  .chooseDamage{
    padding:.18rem 0.2rem .32rem;
    background: #FFF;
    .tips{
      color:#999;
      font-size:12px;
      color:#999999;
      padding-bottom: .4rem;
    }
    .car{
      width: 100%;
      margin: auto;

    }
  }
  .chooseDameBtn{
    padding: 0 .2rem;
    .btn_long{
      margin-bottom: 0.1rem;
    }
  }
  .agreement {
    position: relative;
    text-align: left;
    width: 13em;
    margin:0 auto;
    color: #999;
    padding: 0.26rem 0;
    text-indent: 2em;
    .agree_icon {
      width: 2em;
      height: 2em;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1em;
      background: url('../../images/icon_chosen.png') no-repeat center;
      background-size: 70% auto;
      &.disabled {
        background-image: url('../../images/icon_unchosen.png');
      }
    }
  }
  
}





