.netstock-content {
    width: 100%;
    height: 1.58rem;
    border-bottom: 1px solid #f6f6f6;
}

.netstock-content span {
    box-sizing: border-box;
    font-family: 'iconfont';
    display: inline-block;
    width: 24%;
    line-height: 1rem;
    margin-top: .29rem;
    text-align: center;
    border-right: 1px solid #fbfbfb;
}

.netstock-content .netstockContentRefle {
    border-right: none;
}

.netstockList li {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    /*height: 6rem;*/
    padding: .5rem .5rem .8rem;
    border-bottom: 1px solid #f6f6f6;
}

.netstockList li:nth-of-type(even) {
    background: #f8f8f8;
}

.netstockList li>span {
    display: inline-block;
    line-height: 1.2rem;
    padding: .1rem .2rem;
    margin-top: .15rem;
}

.netstockList li span:first-of-type {
    font-size: .7rem;
}

.netstockList li span:nth-of-type(2) {
    margin-right: 1rem;
    /*color: #4caced;*/
    /*border: 1px solid #4caced;*/
}

/*新增样式圆点标符*/
.circle{
    width: 5px;
    height: 5px;
    background: #4caced;
    border-radius: 50%;
    display: inline-block;
    margin-right: .2rem;
    position: relative;
    top: -.1rem;
}

.netstockList li span:nth-of-type(4) {
    width: 11rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.netstockList li span:nth-of-type(5) {
    float: right;
}

.netstockList li span font {
    margin: 0 .2rem;
    color: red;
}

.netlocation font {
    color: #4caced;
}

.netstockList li span img {
    width: .8rem;
    vertical-align: middle;
    margin-right: .3rem;
}

/*筛选弹框*/
.carstock_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    height: 17rem;
    background: #fff;
}

.carstock-title {
    text-align: center;
    fon-size: .8rem;
    height: 1.6rem;
    line-height: 1.5rem;
}

.confirm-carstock {
    height: 10rem;
}

.close-carstock {
    font-family: 'iconfont';
    fon-size: .8rem;
    float: left;
}

.confirm-carstock > p:first-of-type, .confirm-carstock > p:nth-of-type(3), .confirm-carstock > p:nth-of-type(5) {
    line-height: 1.5rem;
}

.confirm-carstock > p:nth-of-type(3), .confirm-carstock > p:nth-of-type(5) {
    margin-top: .5rem;
}

.confirm-carstate > span, .confirm-carnetstate > span, .confirm-carnetstate2 > span {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin-right: .3rem;
    margin-top: .5rem;
    padding: .4rem 1rem;
    border: 1px solid #e7e7e7;
}

.carstate-bottom {
    box-sizing: border-box;
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem;
    box-shadow: 0px -2px 1px #eaeaea;
}

.carstate-bottom button {
    width: 7.25rem;
    line-height: 2rem;
    text-align: center;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.carstate-reset {
    margin-right: .5rem;
    background: #d8d8d8;
}

.carstate-sure {
    color: #fff;
    background: #333333;
}

/*颜色控制*/
.color {
    background: #333;
    color: #fff;
}

/*排序弹框*/
.sort_content {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
    height: 5.8rem;
    background: #fff;
}

.sort-title {
    text-align: center;
    fon-size: .8rem;
    height: 1.6rem;
    line-height: 1.5rem;
}

.close-sort {
    font-family: 'iconfont';
    fon-size: .8rem;
    float: left;
}

.sort_content li {
    line-height: 1.7rem;
    border-top: 1px solid #ededed;
    position: relative;
}

.sort_content li img {
    position: absolute;
    right: 0;
    top: .35rem;
    width: 1rem;
    vertical-align: middle;
}

.sort-color {
    color: #44a8ec;
}
.maps{
	box-sizing: border-box;
	height: 2.65rem;
	padding: .385rem .425rem;
    border-bottom: 1px solid #F6F6F7;
}
.maps p{
	text-align: center;
    width: 100%;
    background: #44a8ec;
    color: #ffffff;
    height: 1.875rem;
    line-height: 1.875rem;
    -moz-box-shadow: 0px 0px 8px #44a8ec;
    -webkit-box-shadow: 0px 0px 8px #44a8ec;
    box-shadow: 0px 0px 8px #44a8ec;
}
