.static_container
    p.weight 恭喜！您可以参加活动
    p 现在邀请好友注册并认证立刻出行，就有机会获得 iPhone X、iPhone 8、魅蓝 6、小米手环2……邀请数量越多，距离iPhoneX越近！
    .btn_con
        .btn_con_long.red#toShare 邀请好友
        .btn_con_long#toDetails 查看活动详情
