@import '../btn/index';
.static_container{
  p{
    padding: 0 0.15rem;
    font-size: 0.14rem;
    margin:0.15rem 0;
    &.weight{
      font-size: 0.15rem;
      font-weight: bold;
    }
  }
}

.static_container{
  .btn_con{
    padding: 0.1rem 0 0.8rem;
  }
  .btn_con_long{
    margin: 0.15rem auto
  }
  .box_body{
    min-height: 3rem;
  }
}
