.static_container
    p.weight 谢谢你对我的支持
    p
        |让我距离 iPhone X 又近了一步
    p
        |认证结果，稍后将以短信形式通知
    .btn_con
        .btn_con_long.red#toDetails 查看活动详情
        .btn_con_long#toWxzhiyin 立刻出行使用指引
