.static_container
    p.weight 尊敬的用户
    p
        |您已成功注册立刻出行
    p
        |认证成功后可参与活动赢取 iPhone X
    .btn_con
        .btn_con_long.red#toLicense 马上认证
        .btn_con_long#toDetails 活动详细说明
        .btn_con_long#toYYB 下载立刻出行
