.static_container
    p.weight 尊敬的用户
    p 您已是立刻出行用户，此活动仅限邀请新用户。感谢您的支持！
    p 您可以
    .btn_con
        .btn_con_long.red#toShare 参与活动赢 iPhone X
        .btn_con_long#toDetails 查看活动详情
        .btn_con_long#toYYB 下载立刻出行
