//- Created by garvey on 2018/1/14.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 开立刻出行，分百万现金
body
    .header
        .banner
    .gift_box
        .tip
            p 还等什么？赶快去开车啊！
            p 还能拿现金！
        .box
    .details
