//- Created by garvey on 2018/7/9.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 广州“开四停四”说明
body
    .header
        .desc
            |由于广州对非广州籍中小客车实行“开四停四”管理措施，所有表示
            span.icon
            |的车辆，无法开入广州。
        .tips *如需进入广州，请选择可进入广州的车辆。
    .img_con
        img.main(src=require('./images/main.jpeg'))
    .detail 广州市大观路 ( 广汕路至中山大道段，不含 )、东环城市快速路 ( 中山大道至东大桥段，不含 )、珠江水道 ( 东圃大桥至长洲岛至丫髻沙大桥至广和大桥段，海珠区南面、长洲岛和番禺区北面、海珠区和白云区西面、大坦沙和金沙洲东面 ) ，鸦岗大道 ( 不含 )、华南快速干线三期 ( 鸦岗大道至春岗立交段，不含 )、华南快速干线三期辅路 ( 不含 )、尖彭路 ( 不含 )、同泰路 ( 不含 )、华南快速干线二期 ( 春岗立交段至广汕路段，不含 )、广汕路 ( 大观路至华南快速干线段，不含 ) 合围的区域以及进入上述区域的洛溪大桥、鹤洞大桥、洲头咀隧道、珠江隧道、珠江大桥东桥、金沙洲大桥。