html,body{
  background-color: #fff;
}
body{
  padding-bottom: 0.4rem;
}

.header{
  font-size: 14px;
  line-height: 0.2rem;
  padding: 0.2rem;
  .desc{
    margin-bottom: 0.18rem;
    .icon{
      width: 0.61rem;
      height: 0.2rem;
      display: inline-block;
      background: url('./images/icon.png') no-repeat center;
      background-size: 100%;
      vertical-align: bottom;
      margin:-1px 0.03rem 0
    }
  }
  .tips{
    font-size: 16px;
    color:#ed3800;
  }
}
.img_con{
  margin: 0 0.2rem;
  background-color:#f2f2f2 ;
  .main{
    width: 100%;
  }
}

.detail{
  margin:0 0.2rem;
  padding: 0.12rem 0.13rem;
  font-size: 11px;
  color: #B0B2B5;
  background: rgba(237,56,0,0.05);
}