@import '../../../../css/reset.css';
@import "../../../../css/font";
@import "../../../../css/buttons/button";

body{
  background-color: #f2f2f2
}
.downloadFooter{
  z-index: 10;
  position: fixed!important;
  width: 100%;
  top:0
}

.banner{
  padding-top: 0.44rem;
}

