- var header_url = img_header
- var footer_url = img_footer
section.box(data-name='myPrize')
    .coupon_float
    img.box_header(src=header_url)
    div.box_body
        !=box_body
    img.box_footer(src=footer_url)

