//- Created by garvey on 2018/1/14.
-require('./explain.less')
.ActivityExplain
    .item
        .title.fs14 活动时间
        .desc.fs13 2018年3月31日 —— 2018年4月13日
    //.item
        .title.fs14 活动内容
        .desc.fs12 邀请好友用车，可的现金奖励
    .item
        .title.fs14 活动规则
        ul.desc_ul.fs12
            li
                .index ①
                .desc_li 3月31日至4月7日，分享活动页面给未注册好友，邀请好友在页面提交手机号完成注册。
            li
                .index ②
                .desc_li 3月31日至4月13日，被邀请的好友完成有里程的订单后，邀请人即可获得50元现金奖励，每日最多可获得5次奖励。
            li
                .index ③
                .desc_li 现金奖励可申请提现，在活动页面提交账户信息（需为本人名下账户）申请提现，审核通过后，现金奖励将实时汇入该账户。
            li
                .index ④
                .desc_li 单个账号每日限提现一次。现金奖励可跨日累计，每次提现默认提取账号中的全部奖励金额。
            li
                .index ⑤
                .desc_li 被邀请好友在4月13日晚24时后完成订单的，不计入本次活动。
            li
                .index ⑥
                .desc_li 可提现金额需在4月15日前完成提取，逾期未提视为放弃。