.ActivityExplain{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: left;
  .item{
    margin:0.1rem 0.3rem;
    .title{
      //background-color: #e84656;
      line-height: 0.24rem;
      color:#525252;
    }
    .desc{
      color:#606060;
      padding: 0.05rem 0;
    }
    .desc_ul{
      padding: 0.05rem 0;
      color:#606060;
      .index{
        position: absolute;
        line-height: 0.2rem;
      }
      .desc_li{
        margin-left: 1.5em;
        line-height: 0.2rem;
      }
    }
  }
}