.historyBox{
  position: relative;
  line-height: 0.22rem;
  padding-bottom: 0.1rem;
  border-bottom: solid 1px #f7f7f8;
  &:nth-last-child(1){
    border-bottom: none;
  }
  .desc.double{
    line-height: 0.44rem;
  }
  .time,.phone_no{
    color:#999;
  }
  .change{
    text-align: right;
    color:#6fb82c;
    &.yellow{
      color:#f3a000
    }
  }
}