//- Created by garvey on 2018/3/23.
.box
    .title.fs12 补偿规则
    .content.fs13
        .item
            .index  1.
            .text 当您的订单产生实际里程后，成功还车时系统将发放一定补偿至您的余额中，额度以“补偿余额”为准，不提供额外补偿。
        .item
            .index  2.
            .text #{text}的发票请向停车场收费人员索要。
