//- Created by garvey on 2018/3/23.
.box
    .title.fs12 "立刻还"服务说明
    .content
        ul.list
            li
                img.point_icon(src=require('../images/point_like.png'))
                p.fs13 此标志为立刻出行合作网点，用户取还车无需支付额外费用。
            li
                img.point_icon(src=require('../images/point_not_coop.png'))
                p.fs13
                    |此标志为立刻出行非合作网点，您在此取车需正常缴纳停车费。
                    br
                    |当您的订单产生实际里程后，成功还车时系统将返还“补偿余额”至您账户的余额中。在“立刻还”网点还车时，您需要支付一定的还车附加费。
