//- Created by garvey on 2018/1/14.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 立刻出行
body
    header
        .banner
    section
        .title.strong 公司介绍
        .content 立刻出行，是新一代汽车共享出行服务平台。通过将移动互联网与汽车分时租赁服务深度结合，打破传统城市内出行模式，服务于中短途出行需求。为用户提供便捷、舒适的智能化出行方式。
    section
        .title.strong HOT实习岗位
            span.mini  (8个)
            span.hot
        .content *点击岗位名称查看详细描述并提交申请
        ul.list
    section
        .title.strong 实习期工资
        .content  本科200元/天，研究生260元/天。
    section
        .contact
            .item.icon.name
                .label 联 系 人
                span ：
                .value 任女士
            .item.icon.phone
                .label 手 机
                span ：
                .value.copy 151-0168-2526
                span （同微信号）
            .item.icon.mail
                .label 邮 箱
                span ：
                .value.copy renyuanjing@likechuxing.com
            .item.icon.tel
                .label 座 机
                span ：
                .value.copy 010-86392412
            .item.icon.location
                .label 工作地点
                span ：
                .value.copy 北京市海淀区东北旺西路8号路9号楼三区304(国际软件大厦）

    footer
