.historyBox{
  position: relative;
  line-height: 0.22rem;
  padding-bottom: 0.1rem;
  border-bottom: solid 1px #f7f7f8;
  &:nth-last-child(1){
    border-bottom: none;
  }
  .time{
    color:#999;
  }
  .right{
    text-align: right;
    position: absolute;
    right:0;
    top:0;
  }
}