
body{
  background-color: #fff;
  max-width: 640px;
  margin:0 auto;
}

.content{
  padding-bottom: 0.5rem;
  img{
    width: 100%;
    display: block;
  }
}
.footer{
  position: fixed;
  width: 100%;
  left:0;
  bottom:0;
  line-height: 1;
  font-size: 16px;
  padding: 0.15rem 0;
  background-color:#fc241c;
  color:#fff;
  text-align: center;
}