@import '../../../css/config';
.MainPage{

}

.Content{
  position: absolute;
  width: 100%;
  top: @headerHeight;
  z-index: 1;
  .content_control{
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    &.visible{
      visibility: visible;
    }
    &.hidden{
      visibility: hidden;
    }
  }
}