//- Created by garvey on 2017/10/31.
li.checkDamageOrderBox
    .id DDID:#{ddid}
    .time #{time}
    ul.part_list
        each k in parts
            li.parts #{k.part_name}
    .photo_list
        each p in photos
            img.photo(src=p)

