.damageBox{
  border-bottom: solid 1px #DFDFDF;
  margin-left:0.15rem;
  padding:0.1rem 0.15rem 0.1rem 0;
  .index{
    display: inline-block;
  }
  .plate_no{
    display: inline-block;
    margin-left: 4em;
  }
  .part_list{
    li{
      display: inline-block;
      margin-right:0.1rem;
      padding: 0 0.5em;
      border-radius: 3px;
    }
    .parts{
      background-color: 	#F9F900;
      &.important{
        background-color: #ff6c3e;
        color:#FFF
      }
    }
  }
  .time{
    font-size: 80%;
    color:#999;
  }
}