.operationBox{
  border-bottom: solid 1px #DFDFDF;
  padding:0.1rem 0.15rem;
  &>div{
    line-height: 0.2rem;
  }
  .operation{
    margin-bottom: 0.08rem;
    color:#999;
    span{
      color:#000;
    }
  }
  .name{
    display: inline-block;
    color: #999;
    span{
      color:#333
    }
  }
  .time{
    font-size: 80%;
    color:#999;
    display: inline-block;
    float: right;
  }
}