//- Created by garvey on 2017/12/28.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 用户指南
body
    img.header(src=require('./images/coming.png'))
    .text 敬请期待，即将上线
