//- Created by garvey on 2017/11/27.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/map_a_withUI
    //include ../../../template/head/map_b
    title 立刻鹰眼
body
    #reactRoot

