@import '../../../../css/reset.css';

body{
  background-color: #f2f2f2!important;
}

.empty{
  position: fixed;
  // 原值是25%
  top:45%;
  left:0;
  width:100%;
  text-align: center;
  .img{
    margin:0 auto;
    width:60%;
    height: 1rem;
    background: url('../images/empty_coupon.png') no-repeat center;
    background-size: contain;
  }
  p{
    padding-top: 0.1rem;
    color:#999;
    font-size: 0.12rem;
    .check_history_url{
      color:#333;
    }
  }
}