.SearchAddress{
  padding: 0.15rem 0;
  .searchAddress{
    padding: 0 0.2rem;
  }
  .search{
    width: 100%;
    position: relative;
    line-height: 0.2rem;
    color:#999;
    text-indent: 0.22rem;
    &::before{
      content: '';
      background: url('../../images/icon_search.png') no-repeat center;
      background-size: 80%;
      width: 0.2rem;
      height: 0.2rem;
      display: block;
      position: absolute;
    }
    .keyword{
      border:none;
      border-radius: 0;
      background-color: transparent;
      line-height: 0.2rem;
    }
    .search_btn{
      color:#ed3800;
      float: right;
      border-left:solid 1px #f7d4d1;
    }
  }
  .result_con{
    padding: 0 0.2rem;
    overflow: scroll;
  }
}

.ResultBox{
  position: relative;
  padding: 0.1rem 0;
  border-bottom: solid 1px #F1E7C6;
  &:nth-last-of-type(1){
    border-bottom: none;
  }
  .icon{
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    background:url('../../images/icon_branch.png') no-repeat center;
    background-size: 90%;
    top:50%;
    margin-top: -0.1rem;
    &.same{
      background-image: url('../../images/icon_branch_same.png');
    }
    &.history{
      background-image: url('../../images/icon_branch_history.png');
    }
  }
  .position{
    margin-left:0.24rem;
    .fs12{
      color:#999;
    }
  }
}