include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    script(src="/js/bundle/dll.vue.100.js")
    title 取证完成
body
    .header
        span.text 小提示
    p.text 在保障安全的情况下，请不要离开现场，并保持手机畅通，以免此期间造成其他损失，给您带来不便。

    .footer
        .btn.btn-animate.light 联系事故处理专员
        .footer_text 客服热线：400-666-2333

