//- Created by garvey on 2017/12/15.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 兑换商品
body
    .GoodsName
        .swiper-container
            .swiper-wrapper
            .swiper-pagination
        //.desc.fs18
    .Address
    .DetailExplain
        //.box_title
            span.icon_con.fs12(class=icon_class)
            span.fs12 详情说明
    .FooterButton
        button.fs16#exchange 立刻兑换