//- Created by garvey on 2017/12/15.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    title 里程积分
body
    .MyScore
        .scoreBox
            .title.fs12 我的里程积分
                span.ques
            .score.fs29 -
            .btn_container
                .button.scoreDetail.fs12 收支明细
                .button.exchangeHistory.fs12 兑换历史
        .how.fs12 如何提高里程积分？
    .GoodsList
        ul.hotGoods
        ul.normalGoods
