.RealName{
  .realNameBox1{
    padding: 0.2rem 0.2rem .25rem;
    color:#333;
    background: #FFF;
    border-bottom: 1px solid #f5f5f5;
    .p1{
      font-size:14px;
      color:#333333;
    }
    .idCard{
      height: 0.94rem;
      margin: 0.25rem 0 0.2rem;
    }
    .orange{
      position: relative;
      line-height: .23rem;
      font-size: 12px;
      height: .2rem;
      padding-left: .18rem;
      background: url('../../images/icon_orange2.png') no-repeat left center;
      background-size: 12px;
    }
  }
  .realNameBox2{
    padding: 0.2rem 0.2rem .18rem;
    color:#333;
    background: #FFF;
    .address{
      font-size:14px;
      color:#333333;
      line-height:16px;
      padding-bottom: .1rem;
    }
    .adds{
      font-size:12px;
      color:#111;
      line-height:26px;
      clear: both;
      span{
        color:#999;
      }
      .addMore{
        // padding-left: .6rem;
        line-height: 14px;
        padding-bottom: .05rem;
        clear: both;
      }
      .addreStyle{width: 2.5rem;float: left;}
    .addreTitle{float: left;}
    }
    .btn_short{
      width: 1.4rem;
      height: 0.46rem;
      line-height: 0.46rem;
      margin:0.1rem auto;
    }
  }
  .hint{
    font-size:12px;
    color:#e90000;
    text-align:center;
    padding: .46rem 0 .16rem;
  }
}