.WillFinish{
  // padding:0.15rem 0;
  .willFinish{
    // padding: 0 0.2rem;
    .willFinishBox1{
      padding: .2rem;
      background: #FFF;
      border-bottom: 1px solid #f5f5f5;
      // .branch{
      //   overflow: hidden;
      p{
        font-size:12px;
        color:#999999;
      }
      .branchTitle{
        padding-top: .42rem;
      }
        .branchName{
          margin: 0.15rem 0 .4rem;
          line-height: 0.22rem;
          color: #333;
          font-size: 16px;
        }
        .change_end_point{
          line-height: 0.14rem;
          margin-top: 0.04rem;
          float:right;
          padding-left:1em;
          border-left:solid 1px #F7D4D1;
          font-size: .14rem;
        }
      // }
      input{
        line-height: 0.38rem;
        border-radius: 0;
        width: 100%;
        height: .38rem;
        border: none;
        padding: 0 0.8em;
        box-sizing: border-box;
        margin-top: 0.05rem;
        background:#f5f5f5;
        border-radius:2px;
        font-size:14px;
      }

    }
    .willFinBtn{
      padding: 1.2rem .2rem .2rem;
    }
  }
}