-var img_boxFooter = img_box_footer
.winner_con
    .list_header
        span.refresh
            span.icon
            | 刷新
        .dead_time 截至#{dead_time}
    ul.winner_list
    .load_more_con
        p#noMore 已经到底啦！
        img#loadMore(src=img_boxFooter)