body {
    width: 100%;
    height: 100%;
}

.chartmap-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 16rem;
    box-sizing: border-box;
    padding:.5rem;
    height: 2rem;
    line-height: 1rem;
    font-size: .5rem;
    /*white-space: nowrap;*/
    background: #fff;
    z-index: 100;
}

.chartmap-top .center{
    display:inline-block;
    width:10rem;
    height:.5rem;
    border-radius: 10px;
    background: linear-gradient(to right,#824dcf,#384adb,#8ae3e5,#83e284,#e3e079,#d98046,#d73a3b);
}

#chartmap-map {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*刷新按钮*/
.refure-chartmap {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 100;
}

.refure-chartmap img {
    width: 2rem;
}

/*定位icon*/
.current_location2 {
    position: fixed;
    bottom: 3.5rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 100;
}

.current_location2 img {
    vertical-align: middle;
    width: 2rem;
}

/*小图标*/
.amap-marker .marker-route {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("../../image/dispatch/white-net.png") no-repeat;
    background-size: 50px;
}

.amap-marker .marker-route2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("../../image/dispatch/black-net.png") no-repeat;
    background-size: 50px;
}

/*大图标*/
.amap-marker .bigmarker-route {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../image/dispatch/bigwhite-net.png") no-repeat;
    background-size: 60px;
}

.amap-marker .bigmarker-route2 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../image/dispatch/bigblack-net.png") no-repeat;
    background-size: 60px;
}

.amap-marker .div1 {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    white-space: nowrap;
    padding: 2px;
    position: absolute;
    left: 28px;
    top: -8px;
    background: #fff;
    border-radius: 50%;
}

.amap-marker .div1 .span1 {
    display: inline-block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    line-height: 18px;
    margin-right: 8px;
    background: #f0424a;
    border-radius: 50%;
    text-align: center;
    font-size: .4rem;
    color: #fff;
    position: absolute;
    left: 3px;
    top: 3px;
}