.carDamage_container{
  position: relative;
  width:100%;
  padding: 2% 0;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
  }
  .part{
    position: absolute;
    display: none;
    width:400%;
    top:2%;
    left:0;
    z-index: 1;
    &.active,&.yellow,&.red,&.gray,&.select{
      display: block;
    }
    &.yellow{
      left:-100%
    }
    &.red{
      left:-200%
    }
    &.green{
      left:-300%
    }
    &.select{
      margin-left: -6px;
      margin-top: -6px;
      filter:drop-shadow(6px 6px 0px #000)
    }

    &[data-id="7"]{
      z-index: 2;
    }
  }
  .carDamage_bg{

  }
  .area {
    position: absolute;
    z-index: 10;
    &[data-area="1"] {
      width: 22%;
      height: 20%;
      left: 38%;
      top: 1%
    }
    &[data-area="2"] {
      width: 15%;
      height: 5.5%;
      left: 63.5%;
      top: 6%
    }
    &[data-area="3"] {
      width: 18%;
      height: 5%;
      left: 77%;
      top: 17%
    }
    &[data-area="4"] {
      width: 20%;
      height: 8%;
      left: 76%;
      top: 28%
    }
    &[data-area="5"] {
      width: 25%;
      height: 10%;
      left: 70%;
      top: 39%
    }
    &[data-area="6"] {
      width: 25%;
      height: 10%;
      left: 70%;
      top: 49%
    }
    &[data-area="7"] {
      width: 20%;
      height: 8%;
      left: 76%;
      top: 59%
    }
    &[data-area="8"] {
      width: 18%;
      height: 5%;
      left: 77%;
      top: 74%
    }
    &[data-area="9"] {
      width: 23%;
      height: 17%;
      left: 38%;
      top:82%;
    }
    &[data-area="10"] {
      width: 18%;
      height: 5%;
      left: 4%;
      top: 74%
    }
    &[data-area="11"] {
      width: 20%;
      height: 8%;
      left: 3%;
      top: 59%
    }
    &[data-area="12"] {
      width: 25%;
      height: 10%;
      left: 3%;
      top: 49%
    }
    &[data-area="13"] {
      width: 25%;
      height: 10%;
      left: 3%;
      top: 39%
    }
    &[data-area="14"] {
      width: 20%;
      height: 8%;
      left: 3%;
      top: 28%;
    }
    &[data-area="15"] {
      width: 18%;
      height: 5%;
      left: 3%;
      top: 17%
    }
    &[data-area="16"] {
      width: 15%;
      height: 5.5%;
      left: 20%;
      top: 6%
    }
    &[data-area="17"] {
      width: 19%;
      height: 13%;
      left: 40%;
      top: 24%
    }
    &[data-area="18"] {
      width: 14%;
      height: 17%;
      left: 42%;
      top: 45%
    }
    &[data-area="19"] {
      width: 20%;
      height: 6%;
      left: 40%;
      top: 68%
    }
    &[data-area="20"] {
      width: 5%;
      height: 5%;
      left: 58%;
      top: 40%
    }
    &[data-area="21"] {
      width: 6%;
      height: 15%;
      left: 70%;
      top: 24%
    }
    &[data-area="22"] {
      width: 6%;
      height: 15%;
      left: 70%;
      top: 60%
    }
    &[data-area="23"] {
      width: 6%;
      height: 15%;
      left: 23%;
      top: 60%
    }
    &[data-area="24"] {
      width: 6%;
      height: 15%;
      left: 23%;
      top: 24%
    }
    &[data-area="25"] {
      width: 5%;
      height: 5%;
      left: 36%;
      top: 40%
    }

  }
}