@import "../../../css/font";
* {
  margin: 0;
  padding: 0
}

ul {
  list-style: none
}

body.app100{
  background-color: #f2f2f2;
  color: #393939;

  dl {
    padding: 8% 4%;
  }

  dt {
    font-size: 0.18rem;
    text-align: center;
    font-weight: bold;
    padding: 4% 0 4%;
  }

  dd {
    text-indent: 2em;
    margin: 4% 0;
    font-size: 0.14rem;
  }
}


