@import "../../../css/font";
* {
  margin: 0;
  padding: 0
}
body.app200{
  background-color: #f2f2f2;
  dl {
    padding: 0.4rem 0.2rem;
    font-size: 0.18rem;
    text-align: center;
    font-weight: bold;
  }

  dt {
    padding-top: 0.1rem;
    font-size: 0.14rem;
    line-height: 0.24rem;
    text-align: left;
    font-weight: 400;
  }

  dd {
    text-indent: 2em;
    line-height: 0.2rem;
    font-size: 0.13rem;
    text-align: left;
    font-weight: 400;
  }

  .noIndent{
    text-indent: 0;
  }

  .scoreFooter{
    font-size: 0.12rem;
    line-height: 0.3rem;
    width: 100%;
    position: fixed;
    bottom:0;
    text-align: center;
    color:#999;
    transform: scale(0.9);
    #toExplain{
      color:#111;
      text-decoration: none;
    }
  }
}