//- Created by garvey on 2018/6/5.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/wx132
    title 交互测试页
    script(src="/js/bundle/dll.vuer.100.js")
body
    #app
