@import '../css/reset.css';

.step{
  max-width: 640px;
  margin:0 auto;
  img{
    width: 100%;
  }
}
html{
  font-size: 26.66666666vw;
}

.wrap{
  padding: .2rem .2rem .9rem;
  ol{
    list-style: none;
    margin-left: 18px;
    .index{
      margin-left: -18px;
    }
  }

  .index{
    display: inline-block;
    text-align: left;
    width: 18px;
  }

  .mainTitle{
    h2{
      font-size: 24px;
      line-height: 24px;
      padding-bottom: .1rem;
      color: #000;
    }
    p{
      font-size: 14px;
      line-height: 20px;
      color: #111;
    }
  }
  .contnet{
    div{
      h4{
        font-size: 16px;
        line-height: 16px;
        color: #111;
        margin: 0;
        font-weight: normal;
        padding-bottom: .1rem;
        padding-top: .25rem;
      }
      ol li,p{
        color: #999;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: .08rem;
      }
      p{padding: 0}
      ol li:last-child{padding: 0}
    }
  }
}