#app{height: 100%;overflow-x: hidden;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
}
html { height: 100%;}
img { border: 0; max-width: 100%; }
input, select, textarea {
    font-family:none;
    font-size: .42rem;
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
}
input{
	border: 0;
}
input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    /*border-radius: 6px;*/
}
.yo-scroll{
	font-size:.14rem
}
.fc33{color: #333333;}
.fc99{color: #999999;}
.fc66{color: #666666;}
.proCheck,.proDetails,.carProDetail,.handleHistory,.searchPro,.pictureHis,.createOrder{
	width: 100%;
	height: 100%;
	font-size: .14rem;
	color: #333333;
	background: #FFFFFF;
	-webkit-overflow-scrolling:touch;
	position: relative;
}
.list_all,.picList,.handle_cont{
	-webkit-overflow-scrolling:touch;
}
/**********车辆问题单 proCheck页面*************************************/
.ischeck,.check_input{border: 1px solid #cccccc;}
.check_all{
	overflow-x: hidden;
	overflow-y: scroll;
}
.checkthe{
	padding: .12rem;
	background: #fff;
}
/*grid,flex 布局*/
.check_title,.check_items,.inner_items,.other_items{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
	display: -webkit-flex;
    justify-content: space-between;
  -webkit-justify-content: space-between;
    align-items: center;
	-webkit-align-items: center;
}
.check_items,.inner_items,.other_items{
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
.check_title{
	font-size: .14rem;
    width: 100%;
}
.line{/*title两边线，渐变*/
	height: 1px;
	border-top: 1px solid #DFDFDF;
	width: 35%;
	border-image: -webkit-linear-gradient( #f7f7f7, #DFDFDF) 30 30;
	border-image: -moz-linear-gradient( #f7f7f7, #DFDFDF) 30 30;
	border-image: linear-gradient( #f7f7f7, #DFDFDF) 30 30;
}
.outer_center,.inner_content,.other_content{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
  align-content: flex-start;
  -webkit-align-content: flex-start;
	padding-top: .15rem;
	padding-left: .04rem;
	padding-right: .04rem;
}
.check_left,.check_right,.check_center{
	flex: 0 0 33%;
	-webkit-flex: 0 0 33%;
	}
.outer_center p.check_items,.inner_items,.other_items{
	padding-bottom: .15rem;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
/*.check_items label,.inner_items label,.other_items label{margin-left: .06rem;}*/
.is_false{
	background-color: #f6f6f6;
	padding: .16rem .11rem;
}
.pro_btn{
	width: 100%;
	padding: .1rem;
	position: fixed;
	bottom: 0;
	background-color: #FFFFFF;
	-webkit-transform: translateZ(0);
		transform: translateZ(0);
}
.all_btn{
	background-color: #c8c8c8;
	color: #FFFFFF;
	line-height: .43rem;
	text-align: center;
	border-radius: 2px;
}
.all_btn.check_btn{
	background-color: #333333;
	color: #FFFFFF;
}
.check_modal{
	width: 100%;
	height:100%;
	background-color: rgba(51,51,51,.7);
	color: #333333;
	z-index: 102;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
		justify-content: center;
	-webkit-justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
.modal_content{
	z-index: 103;
	background-color: #FFFFFF;
	width: 80%;
	height: 1.86rem;
	position: relative;
	border-radius: 3px;
}
.text_dec{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	align-content: flex-start;
  -webkit-align-content: flex-start;
	padding: .16rem;
	text-align: center;
}
#textarea{
	width: 100%;
	height: .42rem;
	font-size: .12rem;
	color: #333333;
	border: 1px solid #f5f5f5;
	box-shadow: none;
	 -webkit-appearance: none; 
}
input::-webkit-input-placeholder{color:#999999;font-size: .12rem;line-height:normal;}
.modal_title{
	width: 100%;
	text-align: center;
	font-size: .16rem;
	color: #333333;
	padding-top: .22rem;
}
.alert_btn{
	width: 100%;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	height: .55rem;
	border-top:1px solid #ededed;
	position: absolute;
	bottom: 0;
}
.alert_btn a{
	font-size: .16rem;
}
 .cancel_btn a{
 	color: #666666;
 }
 .confirm_btn a{
 	color: #44a8ec;
 }
.confirm_btn,.cancel_btn{
	flex: 1;
	-webkit-flex: 1;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
		justify-content: center;
	-webkit-justify-content: center;
	height: 100%;
}
.cancel_btn{
	border-right: 1px solid #ededed;
}
.Toast{
	position: fixed;
    text-align: center;
    width: 100%;
    bottom: 50%;
    z-index: 200;
}
.Toast .msg {
	  display: inline-block;
	  max-width: 78%;
	  min-width: 47%;
	  font-size: 0.16rem;
	  color: #fff;
	  padding: .15rem 0.15rem;
	  box-sizing: border-box;
	  border-radius: 3px;
	  background-color: rgba(0, 0, 0, 0.75);
}
/************车辆问题列表页面         车辆问题列表详情页面*******************/
.proDetails,.carProDetail{background-color: #f6f6f6;}

.isSearch{
	padding: 0.15rem .1rem;
	color: #999999;
}
.detail_icon img{
	width: 100%;
	height: 100%;
}
/* 车辆问题列表详情页面    */



.detail_item{
	padding: 0.19rem 0.12rem 0.05rem 0.12rem;
	background-color: #FFFFFF;
	margin-bottom: 0.1rem;
}
.click_btn span{
	display: inline-block;
	width: 0.19rem;
	height: 0.19rem;
}
.click_btn{
	height: 0.22rem;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
		justify-content: center;
	-webkit-justify-content: center;
	padding-top: 0.05rem;
}
.car_card{
	padding-bottom: 0.18rem;
	font-weight:500;
}
.detail_addr{
	padding-bottom: 0.15rem;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.proDetails .detail_addr{
	position: relative;
}
.detail_date{
	padding-bottom: 0.12rem;
}
.icon_addr{
	display: inline-block;
	width: 0.13rem;
	height: 0.18rem;
}
.icon_addr img{width: 100%;height: 100%;}
.details_all{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
  -webkit-align-content: flex-start;
}
.pro_item{
	flex: 0 0 30%;
	-webkit-flex: 0 0 30%;
	margin-right: .1rem;
	margin-bottom: .1rem;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	height: 0.22rem;
	border-radius: 3px;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}
.red_detail{
	border: 1px solid #e74848;
	color: #e74848;
}
.red_detail span{
	color: #e74848;
}
.black_detail{
	border: 1px solid #777777;
	color: #777777;
}
.show_content{
	height: .22rem;
	overflow: hidden;
}
.hide_content{
	min-height: .22rem;
	overflow: inherit;
}
.hide_btn{
	display: none;
}
.carsAdd{
	margin-top: .15rem;
}
.carsAdd span{
	display: inline-block;
	padding: .08rem .14rem;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
}


/**************** 车辆问题详情页面 **************************************/
.carProDetail,.pictureHis,.handleHistory{
	overflow-y: auto;
	overflow-x: hidden;
}
.search_result{
	padding: 0.15rem 0.1rem;
}
.carpro_header{
	background-color: #FFFFFF;
	padding: 0.19rem 0.16rem 0.12rem 0.12rem;
}
.carpro_card{font-size: .14rem;}
.carpro_date{
	margin-top: 0.15rem;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.icon_history{
	display: inline-block;
	width: 0.1rem;
	height: 0.12rem;
}
.icon_history img{
	width: 100%;
	height: 100%;
}
.carcon_header{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	padding: 0.19rem 0 0.14rem 0;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-evenly;
	-webkit-justify-content: space-evenly;
}
.carcon_header p{
	width: 50%;
	text-align: center;
}
.carpro_content{
	padding-left:0.05rem;padding-right: 0.05rem;
	padding-bottom: .2rem;
}
.car_red{
	color: #e64747;
}
.car_green{
	color: #59a007;
}
.carpro_items{
	position: relative;
	background-color: #FFFFFF;
	border-radius: 3px;
	padding: 0.17rem 0.15rem 0.4rem 0.15rem;
	border: 1px solid #FFFFFF;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.04);
}
.carout_cont,.carother_cont,.carinner_cont{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-wekit-flex-flow: row wrap;
	align-content: flex-start;
  -webkit-align-content: flex-start;
	padding-top: .15rem;
	padding-left: .04rem;
	padding-right: .04rem;
}
.prout_left,.prout_center,.prout_right{
	flex: 0 0 33%;
	-webkit-flex: 0 0 33%;
}
.carpro_items .check_items,.inner_items,.other_items{
	flex: 0 0 33%;
	-webkit-flex: 0 0 33%;
	padding-bottom: .15rem;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
.solve_btn{
	height: 0.43rem;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    position: absolute;
    width: 92%;
    bottom: -.2rem;
	
}
.label_check{
		display: flex;
	display: -webkit-flex;
    align-items: center;
	-webkit-align-items: center;
}
.immed_btn{
	/*height: 100%;*/
	border: 1px solid #C8C8C8;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.04);
	background: #C8C8C8;
	color: #FFFFFF;
	padding: 0.13rem 0.23rem;
	border-radius: 50px;
}
.out_warpper{
	overflow: scroll;
}
.gohistory{
	margin-top: 0.39rem;
	text-align: center;
}
.carpro_footer{
	background: #FFFFFF;
	padding: 0.1rem;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
}
.footer_btn{
	border: 1px solid #333333;
	height: 0.41rem;
	width: 43%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}
.clear_dec{
	flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
}
.text_decs{
	flex: 0 0 100%;
	-webkit-flex: 0 0 100%;
	text-align: center;
	padding-bottom: .1rem;
}
.clealert_btn{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	height: .55rem;
	border-top:1px solid #ededed;
	/*position: absolute;
	bottom: 0;*/
}
.clearModal{
	z-index: 101;
	background-color: #FFFFFF;
	width: 80%;
	min-height: 0.86rem;
	position: relative;
	border-radius: 3px;
}
.not_immed{
	background: #59a007;
}
.immed{
	background: #e64747;
}
/************* 操作历史页面  ***************************/
.handleHistory{
	background: #FFFFFF;
	
}
.handle_cont .yo-scroll{
}
.handle_cont{
	padding-bottom: .15rem;
	/*height:auto;*/
	/*position: relative;*/
}
.handle_cont .handle_items:last-child{
	margin-bottom: .15rem;
}
.noHis{
	padding: .11rem;
}
.note_title{
	white-space: nowrap;
}
.hisUl{
	/*height: 100%;*/
	padding: 0 0.3rem 0 0.11rem;
}
.handle_title{
	font-size: .16rem;
	/*margin-bottom: 0.24rem;*/
	padding: 0.32rem 0.3rem 0.05rem 0.11rem;
	width: 100%;
	z-index: 101;
	position: fixed;
	/*position: absolute;*/
	top: 0;
	left: 0;
	background: #FFFFFF;
}
.handle_name{
	font-weight: bold;
}
.handle_note{
	padding: 0.11rem 0;
	display: flex;
	display: -webkit-flex;
	align-items: flex-start;
	width: 100%;
	line-height: .18rem;
}
.user_info{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	width: 100%;
}
/*.user_name{width: 14%;}*/
.handle_items{
	margin-bottom: 0.18rem;
}
/********  历史搜索页面  **********************************/
.searchInput{
	font-size: 0.14rem;
	height: 0.32rem;
	background: #F0F0F0;
	width: 100%;
    padding-left: .1rem;
    padding-right: .1rem;
}
.input_cont{
	padding: .04rem .14rem .04rem .1rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
	-webkit-align-items: center;
    border-bottom: 1px solid #f6f6f6;
}
.history_search{
	padding: .15rem .15rem 0 .15rem;
}
.search_title{
	margin-bottom: .15rem;
    display: inline-block;
}
.hs_items{
	display: inline-block;
    padding: .1rem;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    margin-bottom: .1rem;
}
.search_text{
	position: relative;
	width: 90%;
	height: 0.32rem;
}
.input_clearn{
	  display: flex;
	  display: -webkit-flex;
    width: .15rem;
    height: .15rem;
    /*background: #999;*/
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: .1rem;
    top: .1rem;
    /*overflow: hidden;*/
    color: #fff;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
	-webkit-align-items: center;
}
.input_clearn img{
	width: 100%;
	height: 100%;
}
.history_item{
	padding: 0.17rem 0.15rem;
	border-bottom: 1px solid #f0f0f0 ;
}
.icon_clearn{
	display: inline-block;
	width: 0.18rem;
	height: 0.18rem;
}
.icon_clearn img{
	width: 100%;
	height: 100%;
}
.search_header{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
    justify-content: space-between;
  -webkit-justify-content: space-between;
}
.noSearch{
	text-align: center;
	margin-top: 1rem;
}
.noSearch img{
	width: 0.5rem;
	height: 0.54rem;
}
/*********历史验车单************************/
.pic_header{
	padding: 0.15rem;
	text-align: right;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	position: fixed;
	z-index: 101;
	width: 100%;
	background: #fff;
	height: .5rem;
}
.pic_fil{
	width: .7rem;
    height: .2rem;
    padding: .05rem .06rem;
    border: 1px solid #dadada;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    border-radius: 50px;
    align-items: center;
	-webkit-align-items: center;
}
.pic_item{
	list-style-type: disc;
	margin-bottom: 0.38rem;
	padding-left: 0.12rem;
	padding-right: .12rem;
	padding-top: .1rem;
}
.pictureHis{
	background: #FFFFFF;
}
.pictureHis ul{
	list-style: disc !important;
	-webkit-padding-start: 1 !important;
}

.pic_img{
	height: .75rem;
	border-radius: 2px;
	display: inline-block;
	flex: 0 0 25%;
	-webkit-flex: 0 0 25%;
	margin-bottom: .1rem;
}
.pic_img img{
	width: 94%;
	height: 100%;
}
.pic_icon{
	display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
    background: #bcbcbc;
    border-radius: 50%;
    margin-right: 0.06rem;
}
.pic_cont{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.pic_title{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
    justify-content: space-between;
  -webkit-justify-content: space-between;
    margin-bottom: 0.19rem;
}
.pic_dec{
	margin-bottom: 0.19rem;
}
.pic_all{padding-left: .14rem;}
.pic_name{
	font-size: 0.15rem;
	font-weight: bold;
}
.pics{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	align-content: flex-start;
  -webkit-align-content: flex-start;
}
/****创建故障工单**************/
.createOrder{
	background: #F6F6F6;
}
.createOrder .carpro_header{
	background: #FFFFFF;
}
.createOrder .carpro_header .detail_addr{
	padding-bottom: 0;
}
.creat_cont{
	padding: 0.13rem 0.1rem;
}
.creat_input#textarea{
	height: 0.83rem;
	border: 1px solid #c1c1c1;
	background: #F6F6F6;
	width: 100%;
	padding: .1rem;
    box-sizing: border-box;
}
.creat_input#textarea::-webkit-input-placeholder{
	font-size: .12rem;
}
.creat_txt{
	font-size: .15rem;
	color: #333333;
	font-weight: bold;
	padding-bottom: 0.16rem;
}
.creat_btn{
	width: 100%;
	height: 0.63rem;
	position: absolute;
	bottom: 0;
	background: #FFFFFF;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}
.crea_submit{
	width: 85%;
	color: #FFFFFF;
	padding: 0.15rem;
	text-align: center;
	border-radius: 2px;
}
.subf33{
	background: #333333;
}
.subfc8{
	background: #c8c8c8;
}
/*组件*/
.mu-list{
	padding: 0;
}
.mu-paper .container{
	padding: 0;
}
.mu-paper{
	background: #F6F6F6;
}
.mu-item{
	height: auto;
	display: block;
	padding: 0;
}
.handle_cont .mu-paper,.pictureHis .mu-paper{
	background: #FFFFFF;
}
.mu-elevation-1{
	box-shadow: none;
}
.no_data{
	text-align: center;
}
.proDetails .filter_reset,.pictureHis .filter_reset{
	background-color: #D8D8D8;
}
.proDetails .filter_submit,.pictureHis .filter_submit{
	background: #333333;
	color: #FFFFFF;
}
.pictureHis .fildec_cont{
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	margin-bottom: 0.6rem;
}
.pictureHis .fildec_cont .fildec_items {
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	padding: 0;
	width: 25%;
	height: 0.26rem;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}
/*优化修改*/
.icon_guide{
	display: inline-block;
	width: .12rem;
	height: .12rem;
}
.icon_guide img{
	width: 100%;
	height: 100%;
}
.go_guide{
	position: absolute;
	right: 0;
}
