@import '../../../css/config';
.TrackSearch{
  background-color: lighten(@mainColor,20%);
  color:#fff;
  padding: 0 10px 6px;
  .input_con{
    border:solid 1px transparent;
    &.hidden{
      display: none;
    }
  }
  .search_item{
    display: block;
    margin:5px 0;
    line-height: 30px;
    font-size: 13px;
    position: relative;
    input, select{
      width: 180px;
      float: right;
      height: 30px;
      border:solid 1px #dbdbdb;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 13px;
    }
    input{
      text-indent: 8px;
    }
  }
  .btn_con{
    margin:10px 0;
    .search{
      width:100%;
      height:36px;
    }
  }

}