@import "./common/reset.css";
html,body{
  background-color: #f2f2f2;
}

img{
  width: 1.8rem;
  height: 1.46rem;
  padding-top: 1.06rem;
  display: block;
  margin:0 auto;
}

.text{
  margin-top: -0.05rem;
  width: 100%;
  text-align: center;
  font-size: 0.14rem;
  color:#999;
}