//- Created by garvey on 2018/1/26.
include ../../../template/base/h5
    include ../../../template/head/viewport
    title 立刻出行长租 运维投放数
body
    .header
        label 城市：
            select#city
        label.fl_r 需求日期：
            select#date
        p.tip.fs13 请于前一日24:00前将车辆调成'长租空闲'状态
    ul.list


