.Finish{
  padding: 0.15rem 0;
  .finish{
    padding: 0 0.2rem;
  }

  .link_con{
    justify-content:center;
    display: flex;
    width: 110%;
    margin-left:-5%;
    .link{
      display: inline-block;
      text-align: center;
      padding: 0 0.9em;
      color:#ed3800;
      &.mid{
        border-right:solid 1px #EAABAB;
      }
    }
  }

  .btn_con{
    padding: 0 0.3rem;
  }
}

.FinishBox{
  color:#00B400;
  text-align: center;
  padding-bottom: 0.1rem;
  .big_icon{
    width: 0.6rem;
    height: 0.6rem;
    margin:0.1rem auto 0.24rem auto;
    display: block;
  }
  .title,.msg{
    margin:0.16rem 0
  }
  &.fail{
    color:#ff9500;
  }
}

.FailBox{
  padding: 0 0.2rem;
  line-height: 0.24rem;
  .title{
    color:#ff9500;
  }
  .wz_box{
    border-bottom: solid 1px #F1E7C6;
    padding-bottom: 0.1rem;
    margin-bottom: 0.1rem;
    .label{
      color:#999;
    }
  }
}