.Pay{
  padding: 0.15rem 0;
  .pay{
    padding: 0 0.2rem;
    .actual_fee{
      padding-top: 0.3rem;
      color:#999;
      text-align: center;
      p{
        color:#111
      }
    }
    .pay_way{
      padding-top: 0.5rem;
      span{
        display: inline-block;
        height: 0.26rem;
        line-height: 0.26rem;
        vertical-align: top;
        color:#111;
      }
      .icon_pay_zhifubao{
        width: 0.26rem;
        background: url('../../images/icon_pay_zhifubao.png') no-repeat center;
        background-size: 100%;
        margin-right: 1em;
      }
      .icon_pay_chosen{
        width: 0.26rem;
        background: url('../../images/icon_pay_chosen.png') no-repeat center;
        background-size: 100%;
        float: right;
      }
    }
  }
  .btn_con{
    padding-top: 0.8rem;
    text-align: center;
    .tip{
      line-height: 0.2rem;
    }
    .btn_long{
      margin:0.06rem 0;
    }
  }
}