div.Alert
    div.alert.mask
        div.dialogBox.animated.faster.zoomIn
            div.title #{title}
            div.msg #{msg}
            div.alert_btn_container
                button.btn_row_1.dark_btn.btn_animate.confirm_btn #{confirmButtonText}