div.Alert
    div.alert.mask
        div.dialogBox.animated.faster.zoomIn
            div.title #{title}
            div.msg #{msg}
            div.alert_btn_container
                button.btn_row_2.white_btn.btn_animate.cancel_btn #{cancelButtonText}
                button.btn_row_2.dark_btn.btn_animate.confirm_btn #{confirmButtonText}
