//- Created by garvey on 2018/5/9.
include ../../../template/base/h5
    include ../../../template/head/viewport
    include ../../../template/head/noTelephone
    include ../../../template/head/wx132
    title 立刻出行免费开
    include ../../../template/head/map_a
    //script(src="/js/bundle/dll.like_base.e4a5f8af.js")
    //script(src="/js/bundle/dll.vue.b12e2e16.js")
body
    #app
    .footer
