//- Created by garvey on 2018/1/14.
-require('./code.less')
.code_box
    .code_con
        img(src=require('../images/code.png'))
    .desc
        p.title.fs17 扫码关注公众号
        p.red.fs18 「立刻出行 成都」
        p.fs14.le 分享更多优惠