//- Created by garvey on 2018/1/14.
-require('./explain.less')
.ActivityExplain
    .item
        .title.fs14 活动时间
        .desc.fs13 2018年1月17日 —— 2018年1月26日
    .item
        .title.fs14 活动内容
        .desc.fs12 活动期间用车，享6小时免费开并分百万现金。
    .item
        .title.fs14 活动规则
        ul.desc_ul.fs12
            li
                .index ①
                .desc_li 活动期间用车，用户每日首单可享6小时内免费开，超过6小时正常计费。
            li
                .index ②
                .desc_li 用户每日首单前6小时内行驶的里程可兑换等额现金，即1公里兑换1元现金，每日上限50公里。
            if(channel === 'wxad')
                li
                    .index ③
                    .desc_li 订单结束后，按系统提示提交账户信息（须为本人名下账户，且姓名与登录APP账号的姓名一致）可进行提现，审核通过后，兑换金额将实时存入该账户。
            else
                li
                    .index ③
                    .desc_li 订单结束后，按系统提示提交支付宝信息（须为本人名下支付宝账户，且姓名与登录APP账号的姓名一致）可进行提现，审核通过后，兑换金额将实时存入该支付宝账户。
            li
                .index ④
                .desc_li 获赠现金可累计，每次需按账户最高金额提现。单个账户每日可提现一次。
            li
                .index ⑤
                .desc_li 每个用户每日仅限首单（以下单时间为准，跨夜订单不算订单结束当日的首单）参与活动。
            li
                .index ⑥
                .desc_li 活动期间可提现金额累计达到500元的用户，可获得春节长租免费用车资格。名额有限，先到先得。