.circle(){
  content: '';
  width: 0.14rem;
  height:0.14rem;
  position: absolute;
  border-radius: 50%;
  background-color:#ffe000;
  top:-0.07rem;
}
.whiteBox2{
  margin:0 0.3rem;
  background-color: #fff;
  border-radius: 5px;
  //overflow: hidden;
  .content{
    padding:0.1rem 0.2rem 0.25rem;
  }
  .nether{
    padding-top: 0;
    padding-bottom: 0.1rem;
    position: relative;
    &::before{
      .circle();
      left:-0.07rem;
    }
    &::after{
      .circle();
      right:-0.07rem;
    }
  }
}