@import '../../../css/font';
@import '../../../css/reset.css';

body{
  background-color: #f7f7f7;
}
.container{
  padding:0.1rem 0.15rem;
  font-size: 0.14rem;
  color:#111;
  .title{
    padding: 0.15rem 0 0.05rem;
  }
  .img_con{
    width: 100%;
    height: 1.3rem;
    left:0;
    top:40%;
    background: #e7e7e7 no-repeat center;
    background-size: contain;
  }
}
