@import "./common/reset.css";
//@import "./common/font.less";
@import "../../../../css/buttons/button";

html,body{
  background-color: #fff;
}



.footer{
  position: fixed;
  bottom:0;
  color:#999;
  padding: 0.1rem 0;
  width: 100%;
  text-align: center;
  transform: scale(0.9);
}